{% macro edit_activity(form, activity) %}
    
    <div class="row">

        <div class="col-md-12">
            <div class="group-box">

                <h3>EDIT ACTIVITY: <span style="color: #fd8103;">{{ activity.title }}</span></h3>
                <hr/>

                <div>


                </div>

            </div>
        </div>

    </div>

{% endmacro %}
{% macro edit_activity_script() %}
<script>
    $(document).ready(function() {
        $('#description-editor').trumbowyg({
            btns: [
                'btnGrp-semantic',
                ['superscript', 'subscript'],
                ['link'],
                // ['insertImage'],
                'btnGrp-lists',
                ['fullscreen']
            ]
        });

        $(".submit").on('click', function(e) {
            $("#description").text($("#description-editor").trumbowyg('html'));
        });

        // load initial data
        $("#description-editor").trumbowyg('html', $("#description").text());

        $("#image").on('change', function() {
            var reader = new FileReader();
             reader.onload = function()
             {
              var output = document.getElementById('preview');
              output.src = reader.result;
             }
             reader.readAsDataURL(event.target.files[0]);
        });

        $("#preview").on('click', function() {
            $("#image").trigger('click');
        });

        $("#upload-btn").on('click', function(e) {
            e.preventDefault();
            $("#image").trigger('click');
        });
    });
</script>
{% endmacro %}