{% macro attendance(activity) %}
    
    <div class="row">

        <div class="col-md-12">

            {% raw %}
            <div class="group-box" id="app">
                <h3>ATTENDANCE: <a :href="'/activities/' + activity_id" style="text-decoration: none;" :title="activity_title + ' Page'"><span style="color: #fd8103;">{{activity_title}}</span></a>
                    <span class="pull-right" style="margin-left: 10px;">
                        <a href="javascript:history.back()" class="group-create-btn">
                            <button class="btn btn-style-4 btn-sm" title="Back">BACK</button>
                        </a>
                    </span>
                    <a :href="'/activities/' + activity_id + '/summary'">
                        <button class="btn btn-style-3 btn-sm pull-right" title="Activity Summary"><i class="fa fa-calendar-check-o"></i></button>
                    </a>
                </h3>
                <hr/>

                <div class="col-md-8 col-md-offset-2 text-center">
                    <br>
                    <input class="form-control input-lg" placeholder="Search Going Users" v-model="query"/>
                    <br />
                </div>
                
                <div class="row card-container" style="background-color: white;">
                    <div v-for="user in going_users" class="col-md-8 col-md-offset-2 checklist-item card-container" :hidden="!show_all">
                        <a :href="'../../../profile/' + user.id">
                            <img v-if="user.image" :src="'/static/uploads/profile_pictures/' + user.image">
                            <img v-else :src="default_img">
                            <span>{{ user.firstname }} {{ user.lastname }}</span>
                        </a>
                        <i v-if="user.attended" class="fa fa-check-circle" aria-hidden="true"></i>
                        <input v-on:click="toggleCheck(user)" type="checkbox" class="pull-right" :checked="user.attended">
                        <hr />
                    </div>
                    <div v-for="user in search_items" class="col-md-8 col-md-offset-2 checklist-item card-container" :hidden="show_all">
                        <img v-if="user.image" :src="'/static/uploads/profile_pictures/' + user.image">
                        <img v-else :src="default_img">
                        <span>{{ user.firstname }} {{ user.lastname }}</span>
                        <i v-if="user.attended" class="fa fa-check-circle" aria-hidden="true"></i>
                        <input v-on:click="toggleCheck(user)" type="checkbox" class="pull-right" :checked="user.attended">
                        <hr />
                    </div>
                    <div v-show="going_users.length == 0" class="col-md-6 col-md-offset-3 text-center card-container">
                        <h3>No going users.</h3>
                    </div>
                    <div v-if="!show_all && search_items.length == 0" class="col-md-6 col-md-offset-3 text-center">
                    <h4>No search results for "{{ query }}"</h4>
                    </div>
                </div>
                <br>



            </div>
            {% endraw %}

        </div>

    </div>

{% endmacro %}
{% macro attendance_script(activity) %}
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                going_users: [],
                default_img: "{{ url_for('static', filename='images/pub-default-img.jpg') }}",
                query: "",
                show_all: true,
                activity_id: "",
                activity_title: "",
                search_items: []
            },
            watch: {
                query: function() {
                    if (this.query.length > 0) {
                        this.show_all = false
                        this.search_items = this.going_users.filter(user => {
                            if (user.firstname.includes(this.query) || user.lastname.includes(this.query)) {
                                return user; 
                            }
                            //console.log(user.firstname, this.query);
                        });
                    } else {
                        this.show_all = true;
                        this.search_items = [];
                    }
                }
            },
            methods: {
                loadGoingUsers: function() {
                    $.ajax({
                        url: "{{ url_for('api.get_going_by', id=activity.id)}}",
                        type: 'GET'
                    }).done(data => {
                        //console.log(data);
                        this.going_users = data.going_users;
                    });
                },
                toggleCheck: function(user) {
                    action = user.attended ? 'uncheck' : 'check';
                    $.ajax({
                        url: '/api/v1.0/activities/'+ "{{ activity.id }}" + "/checklist",
                        type: 'POST',
                        data: {
                            'action': action,
                            'user_id': user.id
                        }
                    }).done(data => {
                        user.attended = !user.attended;
                    });
                },
            }
        });
        $(document).ready(function() {
            vm.loadGoingUsers();
            vm.activity_id = '{{activity.id}}';
            vm.activity_title = '{{activity.title}}';
        })
    </script>
{% endmacro %}