{% macro edit_group(form ,group) %}
    <form class="form-group row edit-group" method="post" enctype="multipart/form-data" name="edit_group">

        <div class="row">
            <div class="col-md-12 no-padding">
                <h1 class="title">Edit Group</h1>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 cover-photo no-padding">
                <img id="preview_cover" src="{{ url_for('static', filename='uploads/covers/' + group.cover_photo)}}" />
                <button id="change-group-cover-btn" class="btn btn-xs btn-style-3">
                    Change Cover Photo
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 group-icon text-center">
                <img id="preview-group-icon" src="{{ url_for('static', filename='uploads/group_icons/' + group.group_icon) }}" />
                <span>Change Group Icon</span>
            </div>
        </div>

        <br /><br /><br />

        <div class="col-md-12 text-center" style="padding: 0px">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {{ form.hidden_tag() }}
                    <label>Group name</label>
                    {{ form.name(
                        placeholder="Group name",
                        class="form-control",
                        required="true") }}
                    
                    <label>About this Group</label>
                    {{ form.about(
                        placeholder="About this Group",
                        class="form-control input-md",
                        required="true") }}

                    <label>Points on join group</label>
                    {{ form.joined_point(class="form-control") }}
                    
                    <br />
                    {{ form.submit(class="btn btn-style-1") }}
                </div>
            </div>
            {{ form.cover_photo(class="hidden") }}
            {{ form.group_icon(class="hidden") }}

            <div class="row">
                <div class="col-md-12 text-left">
                    <br /><br /><br />
                    <hr />
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-confirmation">
                        Delete this Group
                    </button>
                </div>
            </div>
        </div>

    </form>

    <!-- Delete Activity confirmation modal -->
    <form method="post" class="modal fade" id="delete-confirmation" role="dialog">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4>Confirm Delete</h4>
            </div>
            <div class="modal-body">
              <p>Delete Group: {{ group.name }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" name="delete" value="delete" class="btn btn-danger">
                    Delete this Group
                </button>
            </div>
          </div>
        </div>
    </form>
{% endmacro %}
{% macro edit_group_script() %}
    <script>
        $("#group_icon").on('change', function() {
            var reader = new FileReader();
             reader.onload = function()
             {
              var output = document.getElementById('preview-group-icon');
              output.src = reader.result;
             }
             reader.readAsDataURL(event.target.files[0]);
        });

        $("#cover_photo").on('change', function() {
            var reader = new FileReader();
             reader.onload = function()
             {
              var output = document.getElementById('preview_cover');
              output.src = reader.result;
             }
             reader.readAsDataURL(event.target.files[0]);
        });

        $("#change-group-cover-btn").on("click", function(e) {
            e.preventDefault();
            $("#cover_photo").trigger('click');
        });
        $("#preview-group-icon").on("click", function(e) {
            e.preventDefault();
            $("#group_icon").trigger('click');
        });
    </script>
{% endmacro %}