{% macro create_group(form) %}
    <form class="form-group row edit-group" method="post" enctype="multipart/form-data" name="edit_group">

        <div class="row">
            <div class="col-md-12 no-padding">
                <h1 class="title">Create Interest Group</h1>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 cover-photo no-padding">
                <img id="preview_cover" src="{{ url_for('static', filename='images/pub-default-img.jpg' )}}" />
                <button id="change-group-cover-btn" class="btn btn-xs btn-style-3">
                    Change Cover Photo
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 group-icon text-center">
                <img id="preview-group-icon" src="{{ url_for('static', filename='images/pub-default-img.jpg' )}}" />
                <span>Change Group Icon</span>
            </div>
        </div>

        <br /><br /><br />

        <div class="col-md-6" style="padding: 0px">
            <div class="col-md-12 no-padding">
                {{ form.hidden_tag() }}
                <label>Group name</label>
                {{ form.name(
                    placeholder="Group name",
                    class="form-control",
                    required="true") }}
                
                <label>About this Group</label>
                {{ form.about(
                    placeholder="About this Group",
                    class="form-control input-md",
                    required="true") }}
                
                <br />
                {{ form.submit(class="btn btn-style-1") }}
            </div>
            {{ form.cover_photo(class="hidden") }}
            {{ form.group_icon(class="hidden") }}
        </div>


        {% raw %}
        <div id="add_leaders_app" class="col-md-6 no-padding-right">
            <div class="col-md-12 no-padding-right">
                <br />
                <span class="lead">Group Leaders
                </span>
                <button type="button" data-toggle="modal" data-target="#users_modal" class="btn btn-style-1 pull-right">
                    +
                </button>
                <hr />
            </div>

            <div class="col-md-12 no-padding">
                <div v-for="(user, index) in leaders" class="col-md-12" style="margin: 5px !important;">
                    <img v-if="user.image" :src="'../../static/uploads/profile_pictures/' + user.image" class="circle-img-sm" />
                    <img v-else src="../../static/images/pub-default-img.jpg" class="circle-img-sm" />
                    <span>{{ user.firstname }} {{ user.lastname }}</span>
                    <span><button type="button" class="btn btn-sm btn-style-3 pull-right" style="margin-top: 10px;" v-on:click="removeLeader(user, index)">Remove Leader</button></span>
                </div>
                <br /><br /><br />
            </div>

            <!-- Users list modal -->
            <div id="users_modal" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header" style="padding-bottom: 5px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Leaders</h4>
                    <input type="text" v-model="query" class="form-control" placeholder="Search Users"
                        style="margin-top: 10px;"/>
                  </div>

                  <!-- All users list -->
                  <div v-if="query.length == 0" class="modal-body" style="max-height: calc(100vh - 200px); overflow-y: auto;">
                    <div v-for="(user, index) in sorted_users" class="col-md-12" style="padding: 8px;">
                        <img v-if="user.image" :src="'../../static/uploads/profile_pictures/' + user.image" class="circle-img-sm" />
                        <img v-else src="../../static/images/pub-default-img.jpg" class="circle-img-sm" />
                        <span>{{ user.firstname }} {{ user.lastname }}</span>
                        <span><button type="button" class="btn btn-style-1 pull-right" v-on:click="setAsLeader(user, index, users)">Set as Leader</button></span>
                    </div> <!-- end of all users -->
                  </div>

                  <!-- Searched Users -->
                  <div v-else class="modal-body" style="max-height: calc(100vh - 200px); min-height: calc(100vh - 200px); overflow-y: auto;">
                    <div v-for="(user, index) in searched_users" class="col-md-12" style="padding: 8px;">
                        <img v-if="user.image" :src="'../../static/uploads/profile_pictures/' + user.image" class="circle-img-sm" />
                        <img v-else src="../../static/images/pub-default-img.jpg" class="circle-img-sm" />
                        <span>{{ user.firstname }} {{ user.lastname }}</span>
                        <span><button type="button" class="btn btn-style-1 pull-right" v-on:click="setAsLeader(user, index, searched_users)">Set as Leader</button></span>
                    </div> <!-- end of searched users -->
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div> <!-- End of Users list modal -->
        </div>
        {% endraw %}
        {{ form.leader_ids(hidden="true") }}
{% endmacro %}
{% macro create_group_script() %}
<script>
    // Image upload behavior
    $("#group_icon").on('change', function() {
        var reader = new FileReader();
         reader.onload = function()
         {
          var output = document.getElementById('preview-group-icon');
          output.src = reader.result;
         }
         reader.readAsDataURL(event.target.files[0]);
    });

    $("#cover_photo").on('change', function() {
        var reader = new FileReader();
         reader.onload = function()
         {
          var output = document.getElementById('preview_cover');
          output.src = reader.result;
         }
         reader.readAsDataURL(event.target.files[0]);
    });

    $("#change-group-cover-btn").on("click", function(e) {
        e.preventDefault();
        $("#cover_photo").trigger('click');
    });
    $("#preview-group-icon").on("click", function(e) {
        e.preventDefault();
        $("#group_icon").trigger('click');
    });
</script>
<script>
    var vm = new Vue({
        el: "#add_leaders_app",
        data: {
            users_page: 1,
            users: [],
            leaders: [],
            leader_ids: "",
            query: "",
        },
        methods: {
            loadUsers: function() {
                $.ajax({
                    url: '../../api/v1.0/users' + '?page=' + this.users_page,
                    type: 'GET' 
                }).done(data => {
                   this.users = this.users.concat(data.users);
                });
            },
            setAsLeader: function(user, index, list) {
                this.leaders.push(user);
                // list.splice(index, 1);
                this.users = this.users.filter(user_item => {
                    return user_item != user;
                });
                this.updateLeaderIds();
            },
            removeLeader: function(user, index) {
                this.leaders.splice(index, 1);
                this.users.splice(index, 0, user);
                this.updateLeaderIds();
            },
            updateLeaderIds: function() {
                ids = [],
                this.leaders.forEach(leader => {
                    ids.push(leader.id); 
                });
                $("#leader_ids").val(ids.join());
            },
        },
        computed: {
            searched_users: function() {
                return this.users.filter(user => {
                    return user.firstname.includes(this.query) || user.lastname.includes(this.query);
                });
            },
            sorted_users: function() {
                return this.users.sort((a,b) => {
                    return a.firstname.localeCompare(b.firstname);
                });
            }
        }
    });
    $(document).ready(() => {
        vm.loadUsers();
        $("#leader_ids").val("");
    });
</script>
{% endmacro %}