{% extends "./layout/client_base.html" %}

{% block title %} {{ activity.title }} {% endblock title %}

{% block content %}
    
    <div class="row" id="app" class="checklist">

        <div class="col-md-12">
            <div class="group-box">

                <h2>ATTENDANCE <small>{{ activity.title }}</small> </h2>
                <hr/>

                {% raw %}
                    <div class="row card-container">

                        <div class="col-md-6">

                            <br/>
                            <input class="form-control input-lg" placeholder="Search" v-model="query"/>
                            <h3 style="color: #0e0058; font-family: Lato;">PARTICIPANTS LIST</h3>
                            <hr/>

                            <div v-for="user in going_users" class="col-md-12 checklist-item card-container" :hidden="!show_all">
                                <img v-if="user.image" :src="'/static/uploads/profile_pictures/' + user.image">
                                <img v-else :src="default_img">
                                <a :href="'/profile/' + user.id" style="padding-left: 30px;">
                                    {{ user.firstname }} {{ user.lastname }}
                                </a>
                                <!-- <i v-if="user.attended" class="fa fa-check-circle" aria-hidden="true"></i> -->
                                <input v-on:click="toggleCheck(user)" type="checkbox" class="pull-right" :checked="user.attended">
                                <hr />
                            </div>
                            <div v-for="user in search_items" class="col-md-12 checklist-item card-container" :hidden="show_all">
                                <img v-if="user.image" :src="'/static/uploads/profile_pictures/' + user.image">
                                <img v-else :src="default_img">
                                <a :href="'/profile/' + user.id" style="padding-left: 30px;">
                                    {{ user.firstname }} {{ user.lastname }}
                                </a>
                                <!-- <i v-if="user.attended" class="fa fa-check-circle" aria-hidden="true"></i> -->
                                <input v-on:click="toggleCheck(user)" type="checkbox" class="pull-right" :checked="user.attended">
                                <hr />
                            </div>
                            <div v-if="!show_all && search_items.length == 0" class="col-md-6 col-md-offset-3 text-center">
                            <p>No search results for "{{ query }}"</p>
                            </div>
                        </div>
                {% endraw %}
                        <div class="col-md-6" style="padding: 20px 40px;">
                            <div>
                                {% if activity.image %}
                                    <img src="{{ url_for('static', filename='uploads/activity_images/' + activity.image )}}" width="420px;" height="300px;">
                                {% else %}
                                    <img src="{{ url_for('static', filename='images/pub-default-img.jpg')}}" width="400px;" height="300px;">
                                {% endif %}
                                
                                <h4>{{activity.title}}</h4>
                                <h4><small>{{activity.description}}</small></h4>
                            </div>
                        </div>

                    </div>
                
        
            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                going_users: [],
                default_img: "{{ url_for('static', filename='images/pub-default-img.jpg') }}",
                query: "",
                show_all: true,
                search_items: []
            },
            watch: {
                query: function() {
                    if (this.query.length > 0) {
                        this.show_all = false
                        this.search_items = this.going_users.filter(user => {
                            if (user.firstname.includes(this.query) || user.lastname.includes(this.query)) {
                                return user; 
                            }
                            console.log(user.firstname, this.query);
                        });
                    } else {
                        this.show_all = true;
                        this.search_items = [];
                    }
                }
            },
            methods: {
                loadGoingUsers: function() {
                    $.ajax({
                        url: "{{ url_for('api.get_going_by', id=activity.id)}}",
                        type: 'GET'
                    }).done(data => {
                        console.log(data);
                        this.going_users = data.going_users;
                    });
                },
                toggleCheck: function(user) {
                    action = user.attended ? 'uncheck' : 'check';
                    $.ajax({
                        url: '/api/v1.0/activities/'+ "{{ activity.id }}" + "/checklist",
                        type: 'POST',
                        data: {
                            'action': action,
                            'user_id': user.id
                        }
                    }).done(data => {
                        user.attended = !user.attended;
                    });
                },
            }
        });
        $(document).ready(function() {
            vm.loadGoingUsers();
        })
    </script>
{% endblock %}