{% extends "./layout/client_base.html" %}

{% block title %} {{ activity.title }} Summary {% endblock title %}

{% block content %}

    <div class="row">

        <div class="col-md-12">
            <div class="group-box">

                <h3>ATTENDANCE SUMMARY</h3>
                <hr/>

                <div class="row">
                    <div class="col-md-6">
                        
                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock content %}
