{% macro activity_modal(activity) %}

    <div class="col-md-3 col-lg-3 col-sm-6 card-container" onclick="view_activity('{{activity.id}}')">
        <div class="card zoomify" data-toggle="modal" data-target="#activity-{{activity.id}}">
            <div class="card-img">
                <img src="{{ url_for('static',filename='uploads/activity_images/' + activity.image) }}" class="img-responsive" />
            </div>
            <div class="card-desc">
                <h4 class="text-center title">{{ activity.title | upper }}</h4>
                <p>{{ activity.description }}</p>
            </div>
        </div>
    </div>

    <div class="modal fade" id="activity-{{activity.id}}" role="dialog">

        <div class="modal-dialog">
            <div class="modal-content">

                <!-- HEADER -->
                <div class="modal-header">
                    <span><b>ACTIVITY</b></span>
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                </div>

                <!-- BODY -->
                <div class="modal-body">

                    <div class="img-container">
                        <img src="{{ url_for('static',filename='uploads/activity_images/' + activity.image) }}" />
                    </div>

                    <h2 class="text-center">{{ activity.title | upper}}</h2>

                    <div class="content">

                        <ul class="nav nav-tabs" role="tablist">

                            <li role="presentation" class="active act-li">
                                <a href="#act-desc-{{activity.id}}" role="tab" data-toggle="tab">Description</a>
                            </li>

                            <li role="presentation" class="act-li">
                                <a href="#act-interested-{{activity.id}}" role="tab" data-toggle="tab">Interested</a>
                            </li>

                            <li role="presentation" class="act-li">
                                <a href="#act-going-{{activity.id}}" role="tab" data-toggle="tab">Going</a>
                            </li>

                        </ul>

                        <div class="tab-content">

                            <div role="tabpanel" class="tab-pane active" id="act-desc-{{activity.id}}">
                                <p>{{ activity.description }}</p>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="act-interested-{{activity.id}}">
                                <p id="interested-users-{{activity.id}}"></p>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="act-going-{{activity.id}}">
                                <p id="going-users-{{activity.id}}"></p>
                            </div>
                    
                        </div>

                    </div>

                </div>

                <!-- FOOTER -->
                <div class="modal-footer">
                   <!--  <button type="button" class="btn btn-style-2" onclick="interested_activity({{activity.id}})">INTERESTED</button>
                    <button type="button" class="btn btn-style-1" onclick="join_activity({{activity.id}})">JOIN ACTIVITY</button> -->
                    <button type="button" class="btn btn-style-2" onclick="interested('{{activity.id}}')">INTERESTED</button>
                    <button type="button" class="btn btn-style-1" onclick="going('{{activity.id}}')">JOIN ACTIVITY</button>
                </div>

            </div>
        </div>

    </div>

{% endmacro %}