{% extends "./layout/client_base.html" %}
{% from "client/components/activity-modal.html" import activity_modal %}

{% block title %} Activities {% endblock title %}

{% block content %}

	<div class="row">

		<div class="col-md-12 col-sm-12 box-header">
			<h2>ACTIVITIES<span class="fa fa-search pull-right btn btn-search"></span></h2>
		</div>

		<div class="col-md-12 col-sm-12 box-divider">
			<div class="inner-divider"></div>
		</div>

		<div class="col-md-12 col-sm-12 box-content">
			<div class="row">
				{% if activities %}
					{% for activity in activities %}
						{{ activity_modal(activity) }}
					{% endfor %}
				{% else %}
					<div class="col-md-12 col-sm-12 no-content-box text-center">
						<h2>NO ACTIVITIES YET</h2>
					</div>
				{% endif %}
			</div>
		</div>

	</div>

{% endblock content %}

{% block scripts %}
	<script src="{{ url_for('static', filename='js/client/activity.js') }}"></script>
{% endblock scripts %}