{% extends "./layout/client_base.html" %}

{% block title %} {{ user['firstname'] }} {{ user['lastname'] }} {% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-3" style="position: absolute; z-index: 2; top: 200px; margin: 15px;">
            <img src="{{ url_for('static', filename='images/pub-default-img.jpg') }}"
                width="200px" 
                height="200x"
                style="border: 5px solid white; border-radius: 10px"/>
            <a href="{{ url_for('client.view_profile', id=user.id)}}">
                <h3>{{ user['firstname'] }} {{ user['lastname'] }}</h3>
            </a>
            <p>{{ user['position'] }} <br /> {{ user['department'] }}</p>
        </div>

        <div class="col-md-12 text-right" style="background-color: white; padding: 0px;">

            <!-- Check if user has set cover photo
            <img src="{{ url_for('static', filename='images/building.png') }}"
                style="width: 100%; height: 250px; z-index: 1;"/> -->

            <!-- hold the trianlify cover photo -->
            <div id="trianglify-cover" class="col-md-12 text-right" style="height: 250px; background-color: white; padding: 0px;">
            </div>

            <div id="profile-btns" style="padding: 0px 20px;">

                <div class="btn btn-xs" style="padding: 0px 20px;">
                    <h6>Points</h6>
                    <h4>{{ user['points'] }}</h4>
                </div>


                {% if following_count > 0 %}
                    <a href="{{ url_for('client.following', id=user.id) }}" class="btn btn-xs" style="padding: 0px 20px;">
                        <h6>Following</h6>
                        <h4>{{ following_count }}</h4>
                    </a>
                {% else %}
                    <div class="btn btn-xs" style="padding: 0px 20px;">
                        <h6>Following</h6>
                        <h4>{{ following_count }}</h4>
                    </div>
                {% endif %}

                {% if followers_count > 0 %}
                    <a href="{{ url_for('client.followers', id=user.id) }}" class="btn btn-xs" style="margin-right: 50px">
                        <h6>Followers</h6>
                        <h4>{{ followers_count }}</h4>
                    </a>
                {% else %}
                    <div class="btn btn-xs" style="margin-right: 50px">
                        <h6>Followers</h6>
                        <h4>{{ followers_count }}</h4>
                    </div>
                {% endif %}

                {% if current_user['id'] == user['id'] %}
                    <a href="{{ url_for('client.edit_profile', id=user.id) }}" id="btn-edit-profile" class="btn btn-style-3" style="width: 100px">Edit Profile</a>
                {% endif %}


                {% if current_user['id'] != user['id'] and is_following != True %}
                    <a id="btn-follow" class="btn btn-style-2" style="width: 100px">Follow</a>
                {% endif %}

                {% if current_user['id'] != user['id'] and is_following == True %}
                    <a id="btn-unfollow" class="btn btn-style-1" style="width: 100px">Following</a>
                {% endif %}
            </div>
        </div>



        <div class="col-md-9 col-md-offset-3" style="padding: 20px 0px;">
            {% for following in followings %}
                <div class="col-md-4" style="width: 270px; padding: 0px;">
                    <div style="background-color: white; padding: 10px; margin: 5px;">
                        <img src="{{ url_for('static', filename='images/pub-default-img.jpg') }}"
                            style="width: 50px; height: 50px; border-radius: 25px;">
                        <!-- <button class="pull-right btn btn-style-1" style="margin-top: 20px; height: 30px; padding: 0px 15px;">Follow</button> -->
                        
                        <h4>
                        <a href="{{ url_for('client.view_profile', id=following.id)}}">
                            {{ following.firstname }} {{ following.lastname }}
                        </a>
                        </h4>

                        <p style="font-size: 12px;">{{ following.position }}<br />
                        {{ following.department }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock content %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script>
    <script>
        var pattern = Trianglify({
            width: $("#trianglify-cover").width(),
            height: $("#trianglify-cover").height(),
            seed: "{{ user['id'] }}"
        });
        $("#trianglify-cover").append(pattern.svg())
    </script>
    <script>
        function set_buttons() {
            $("#btn-follow").on('click', function() {
                $.ajax({
                    'url': '{{ url_for('api.follow_user', to_follow_id=user["id"]) }}',
                    'type': 'POST'
                }).done(function(data) {
                    $("#btn-follow").remove();
                    $("#profile-btns").append('<button id="btn-unfollow" class="btn btn-style-1" style="width: 100px">Following</button>');
                    set_buttons();
                });
            });

            $("#btn-unfollow").on('click', function() {
                $.ajax({
                    'url': '{{ url_for('api.unfollow_user', to_unfollow_id=user["id"]) }}',
                    'type': 'DELETE'
                }).done(function(data) {
                    $("#btn-unfollow").remove();
                    $("#profile-btns").append('<button id="btn-follow" class="btn btn-style-2" style="width: 100px">Follow</button>');
                    set_buttons();
                });
            });

            $("#btn-unfollow")
                .mouseover(function() {
                    $(this).text("Unfollow");
                })
                .mouseout(function() {
                    $(this).text("Following");
                });

        }
        // initialize buttons
        set_buttons();
    </script>
    <!-- <script src="{{ url_for('static', filename='js/client/profile.js') }}"></script> -->
{% endblock scripts %}