{% extends "./layout/client_base.html" %}
{% from "client/components/group-modal.html" import group_modal %}

{% block title %} Interest Groups {% endblock title %}

{% block content %}

	<div class="row">

		<div class="col-md-12">
			<div class="group-box">

				<h2>INTEREST GROUPS
                    <a href="/groups/create">
                        <button class="btn btn-style-2 btn-sm pull-right" title="Create Group"><i class="fa fa-plus"></i></button>
                    </a>
                </h2>
				<hr/>

				<div class="row">
					{% if interest_groups %}
						{% for group in interest_groups %}
							{{ group_modal(group) }}
						{% endfor %}
					{% else %}
						<div class="col-md-12 no-content-box text-center">
							<h2>NO INTEREST GROUPS TO SHOW</h2>
						</div>
					{% endif %}
				</div>

				<div class="show-more-box">
					<!-- HIDE THIS BUTTON IF THERE'S NO NEXT PAGE -->
					<button class="btn btn-lg btn-style-1">SHOW MORE</button>
				</div>

			</div>
		</div>

	</div>

{% endblock content %}

{% block scripts %}
	<script src="{{ url_for('static', filename='js/client/group.js') }}"></script>
{% endblock scripts %}