{% extends "./layout/base.html" %}

{% from "client/components/group-modal.html" import group_modal %}
{% from "client/components/groups-modal.html" import view_all_groups %}
{% from "client/components/activity-modal.html" import activity_modal %}
{% from "client/components/activities-modal.html" import view_all_activity %}

{% block title %} Home {% endblock title %}

{% block navigation %}

		<div class="navbar" role="navigation" id="navigation">
		    <div class="container">
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <a href="/"><img src="{{ url_for('static', filename='../../static/images/ubp-logo.jpg') }}" alt="UBP LOGO"></a>
		        </div>
		        <div class="navbar-collapse collapse">
		            <ul class="nav navbar-nav pull-right">
		                <li><a href="/">HOME</a></li>
		                <li><a href="/logout">LOGOUT</a></li>
		            </ul>
		        </div>
		    </div>
		</div>

{% endblock navigation %}

{% block content %}

	<div class="row">

			<div class="col-md-10 col-md-offset-1 col-sm-12 box-header box-style-1">
				<span>ACTIVITIES</span>
			</div>

			<div class="col-md-10 col-md-offset-1 col-sm-12 box-content border-bottom-1">

				<div class="row">

					{% if activities %}

						{% for activity in activities %}

							{{ activity_modal(activity) }}

						{% endfor %}

						<div class="col-md-12 text-center box-footer">

							<button type="button" class="btn btn-style-4" data-toggle="modal" data-target="#all-activities">VIEW &nbsp; ALL &nbsp; ACTIVITIES</button>

							{{ view_all_activity(activities) }}

						</div>

					{% else %}

						<div class="no-content-box text-center">
							<h2>NO ACTIVITIES YET</h2>
						</div>

					{% endif %}

				</div>

			</div>

	</div>

	<div class="row">

		<div class="col-md-10 col-md-offset-1 col-sm-12 box-header box-style-2">
			<span>INTEREST GROUPS</span>
		</div>

		<div class="col-md-10 col-md-offset-1 col-sm-12 box-content border-bottom-2">

			<div class="row">

				{% if interest_groups %}

					{% for group in interest_groups %}

						{{ group_modal(group) }}

					{% endfor %}

					<div class="col-md-12 text-center box-footer">

						<button type="button" class="btn btn-style-2" data-toggle="modal" data-target="#all-groups">VIEW &nbsp; ALL &nbsp; GROUPS</button>

						{{ view_all_groups(interest_groups) }}
						
					</div>

				{% else %}

					<div class="no-content-box text-center">
						<h2>NO INTEREST GROUPS TO SHOW</h2>
					</div>

				{% endif %}

			</div>

		</div>

	</div>

{% endblock content %}