{% extends "./layout/base.html" %}
{% from "client/containers/groups.html" import groups as groups_container %}
{% from "client/components/activity-modal.html" import activity_modal %}
{% from "client/components/activities-modal.html" import view_all_activity %}
{% block title %} Home {% endblock title %}

{% block navigation %}

		<div class="navbar" role="navigation" id="navigation">
		    <div class="container">
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <a href="/"><img src="{{ url_for('static', filename='../../static/images/ubp-logo.jpg') }}" alt="UBP LOGO"></a>
		        </div>
		        <div class="navbar-collapse collapse">
		            <ul class="nav navbar-nav pull-right">
		                <li><a href="/">HOME</a></li>
		                <li><a href="/logout">LOGOUT</a></li>
		            </ul>
		        </div>
		    </div>
		</div>

{% endblock navigation %}

{% block content %}

	<div class="row">

			<div class="col-md-10 col-md-offset-1 col-sm-12 box-header box-style-1">
				<span>ACTIVITIES</span>
			</div>

			<div class="col-md-10 col-md-offset-1 col-sm-12 box-content border-bottom-1">

				<div class="row">

					{% if activities %}

						{% for activity in activities %}

							<div class="col-md-3 col-sm-4">
								<div class="card zoomify" data-toggle="modal" data-target="#activity-{{ activity['id'] }}">
									<div class="card-img">
										<img src="{{ url_for('static', filename='../../static/images/pub-default-img.jpg') }}" class="img-responsive" />
									</div>
									<div class="card-desc">
										<h4 class="text-center title">{{ activity['title'] | upper }}</h4>
										<p>{{ activity['description'] }}</p>
									</div>
								</div>
							</div>

							{{ activity_modal(activity.id, activity.title, activity.description) }}
							{# {{ activity_modal(activity.id) }} #}

						{% endfor %}

						<div class="col-md-12 text-center box-footer">
							<button type="button" class="btn btn-style-4" data-toggle="modal" data-target="#all-activities">VIEW &nbsp; ALL &nbsp; ACTIVITIES</button>
							{{ view_all_activity(activities) }}
						</div>

					{% else %}

						<div class="no-content-box text-center">
							<h2>NO ACTIVITIES YET</h2>
						</div>

					{% endif %}

				</div>

			</div>

	</div>


	{{ groups_container(interest_groups) }}


{% endblock content %}