{% extends "./layout/base2.html" %}

{% from "client/components/group-modal.html" import group_modal %}
{% from "client/components/groups-modal.html" import view_all_groups %}
{% from "client/components/activity-modal.html" import activity_modal %}
{% from "client/components/activities-modal.html" import view_all_activity %}

{% block title %} Home {% endblock title %}

{% block content %}

	<div class="row">

			<div class="col-md-12 col-sm-12 box-header box-style-1">
				<span>ACTIVITIES</span>
			</div>

			<div class="col-md-12 col-sm-12 box-content border-bottom-1">

				<div class="row">

					{% if activities %}

						{% for activity in activities %}

							{{ activity_modal(activity) }}

						{% endfor %}

						<div class="col-md-12 text-center box-footer">

							<!-- <button type="button" class="btn btn-style-4" data-toggle="modal" data-target="#all-activities">VIEW &nbsp; ALL &nbsp; ACTIVITIES</button> -->

							{{ view_all_activity(activities) }}

						</div>

					{% else %}

						<div class="no-content-box text-center">
							<h2>NO ACTIVITIES YET</h2>
						</div>

					{% endif %}

				</div>

			</div>

	</div>

	<div class="row">

		<div class="col-md-12 col-sm-12 box-header box-style-2">
			<span>INTEREST GROUPS</span>
		</div>

		<div class="col-md-12 col-sm-12 box-content border-bottom-2">

			<div class="row">

				{% if interest_groups %}

					{% for group in interest_groups %}

						{{ group_modal(group) }}

					{% endfor %}

					<div class="col-md-12 text-center box-footer">

						<!-- <button type="button" class="btn btn-style-2" data-toggle="modal" data-target="#all-groups">VIEW &nbsp; ALL &nbsp; GROUPS</button> -->

						{{ view_all_groups(interest_groups) }}
						
					</div>

				{% else %}

					<div class="no-content-box text-center">
						<h2>NO INTEREST GROUPS TO SHOW</h2>
					</div>

				{% endif %}

			</div>

		</div>

	</div>

	{% if managed_groups|length > 0 %}
		<h3>@Prince here are the groups where the current user is a leader/manager</h3>
		{% for group in managed_groups %}
			<a href="{{ url_for('client.group', id=group.id)}}">
				{{ group.name }}
			</a>
		{% endfor %}
	{% endif %}

{% endblock content %}