{% extends "./layout/client_base.html" %}

{% block title %} Leaderboard {% endblock title %}

{% block content %}

	<div class="row">

		<div class="col-md-12 col-sm-12 box-header">
			<h2>LEADERBOARD</h2>
		</div>

		<div class="col-md-12 col-sm-12 box-divider">
			<div class="inner-divider"></div>
		</div>

		<div class="col-md-12 col-sm-12 box-content">
			<!-- Temporary Content -->
			<div class="text-center" style="height: 400px; padding-top: 100px;"><h1>COMING SOON <i class="fa fa-trophy"></i></h1></div>
		</div>

	</div>

{% endblock content %}