{% extends "./layout/base.html" %}

{% block title %} Sign In {% endblock title %}

{% block content %}

    <div id="login-bg">
        
        <div class="black-filter">

            <div id="sign-in-box" class="text-center">

                <h1 class="pull-left">SIGN IN</h1>
                <img src="{{ url_for('static', filename='../../static/images/pub-sm-logo.png') }}" class="pull-right pub-logo">
                <br>
                <form action="" method="post" name="login">
                    <p>
                        {{ form.hidden_tag() }}
                        {{ form.email(class="form-control") }}
                        <br />
                        {{ form.password(class="form-control") }}
                        <br />
                        {{ form.submit(class="btn btn-block btn-style-1") }}
                        <br />
                    </p>
                </form>

            </div>

        </div>

    </div>

{% endblock content %}