{% extends "./layout/client_base.html" %}

{% block title %} Notifications {% endblock title %}

{% block content %}

	<div class="row">

		<div class="col-md-12">
			<div class="group-box">

				<h2>NOTIFICATIONS</h2>
				<hr/>

				{% if notifications %}
					<div class="row">
					{% for notif in notifications %}
						
					{% endfor %}
					</div>
				{% else %}
					<div class="row">
						<div class="col-md-12 col-sm-12 box-content">
							<div class="text-center" style="height: 400px; padding-top: 100px;"><h1>NO NOTIFICATIONS YET</h1></div>
						</div>
					</div>
				{% endif %}

			</div>
		</div>

	</div>

{% endblock content %}