{% extends "./layout/base2.html" %}

{% block title %} {{ user['firstname'] }} {{ user['lastname'] }} {% endblock title %}

{% block content %}
    <div class="row" style="width: 960px;">
        <div class="col-md-3" style="position: absolute; z-index: 2; top: 200px; margin: 15px;">
            <img src="{{ url_for('static', filename='images/pub-default-img.jpg') }}"
                width="200px" 
                height="200x"
                style="border: 5px solid white; border-radius: 10px"/>
            <h3>{{ user['firstname'] }} {{ user['lastname'] }}</h3>
            <p>{{ user['position'] }} <br /> {{ user['department'] }}</p>
        </div>

        <div class="col-md-12 text-right" style="background-color: white; padding: 0px;">
            <img src="{{ url_for('static', filename='images/building.png') }}"
                style="width: 100%; height: 250px; z-index: 1;"/>
            <div id="profile-btns" style="padding: 0px 20px;">


                <a href="{{ url_for('client.following', id=user.id) }}" class="btn btn-xs">
                    <h6>Following</h6>
                    <h4>99</h4>
                </a>

                <a href="{{ url_for('client.followers', id=user.id) }}" class="btn btn-xs" style="margin-right: 50px">
                    <h6>Followers</h6>
                    <h4>99</h4>
                </a>

                {% if current_user.get_id() == user.get_id() %}
                    <button id="btn-edit-profile" class="btn btn-style-3" style="width: 100px">Edit Profile</button>
                {% endif %}


                {% if current_user.get_id() != user.get_id() and is_following != True %}
                    <button id="btn-follow" class="btn btn-style-2" style="width: 100px">Follow</button>
                {% endif %}

                {% if current_user.get_id() != user.get_id() and is_following == True %}
                    <button id="btn-unfollow" class="btn btn-style-1" style="width: 100px">Following</button>
                {% endif %}
            </div>
        </div>

    </div>

{% endblock content %}

{% block scripts %}
    <script>
        function set_buttons() {
            $("#btn-follow").on('click', function() {
                $.ajax({
                    'url': "{{ url_for('api.follow_user', to_follow_id=user.get_id())}}",
                    'type': 'POST'
                }).done(function(data) {
                    $("#btn-follow").remove();
                    $("#profile-btns").append('<button id="btn-unfollow" class="btn btn-style-1" style="width: 100px">Following</button>');
                    set_buttons();
                });
            });

            $("#btn-unfollow").on('click', function() {
                $.ajax({
                    'url': "{{ url_for('api.unfollow_user', to_unfollow_id=user.get_id())}}",
                    'type': 'POST'
                }).done(function(data) {
                    $("#btn-unfollow").remove();
                    $("#profile-btns").append('<button id="btn-follow" class="btn btn-style-2" style="width: 100px">Follow</button>');
                    set_buttons();
                });
            });

            $("#btn-unfollow")
                .mouseover(function() {
                    $(this).text("Unfollow");
                })
                .mouseout(function() {
                    $(this).text("Following");
                });

        }
        // initialize buttons
        set_buttons();
    </script>


{% endblock scripts %}