{% extends "./layout/base.html" %}
{% from "./utils/modal.html" import activity_modal, group_modal %}

{% block title %} Home {% endblock title %}

{% block navigation %}

		<div class="navbar" role="navigation" id="navigation">
		    <div class="container">
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <a href="/"><img src="{{ url_for('static', filename='../../static/images/ubp-logo.jpg') }}" alt="UBP LOGO"></a>
		        </div>
		        <div class="navbar-collapse collapse">
		            <ul class="nav navbar-nav pull-right">
		                <li><a href="/">HOME</a></li>
		                <li><a href="/logout">LOGOUT</a></li>
		            </ul>
		        </div>
		    </div>
		</div>

{% endblock navigation %}

{% block content %}

	<div class="row">

			<div class="col-md-10 col-md-offset-1 col-sm-12 box-header box-style-1">
				<span>ACTIVITIES</span>
			</div>

			<div class="col-md-10 col-md-offset-1 col-sm-12 box-content border-bottom-1">

				<div class="row">

					{% if activities %}

						{% for activity in activities %}

							<div class="col-md-3 col-sm-4" data-toggle="modal" data-target="#activity-{{ activity['id'] }}">
								<div class="card zoomify">
									<div class="card-img">
										<img src="{{ url_for('static', filename='../../static/images/pub-default-img.jpg') }}" class="img-responsive" />
									</div>
									<div class="card-desc">
										<h4 class="text-center title">{{ activity['title'] | upper }}</h4>
										<p>{{ activity['description'] }}</p>
									</div>
								</div>
							</div>

							{{ activity_modal(activity.id, activity.title, activity.description) }}
							{# {{ activity_modal(activity.id) }} #}

						{% endfor %}

						<div class="col-md-12 text-center box-footer">
							<button type="button" class="btn btn-style-4">View All Activities</button>
						</div>

					{% else %}

						<div class="no-content-box text-center">
							<h2>NO ACTIVITIES YET</h2>
						</div>

					{% endif %}

				</div>

			</div>

	</div>


	<div class="row">

			<div class="col-md-10 col-md-offset-1 col-sm-12 box-header box-style-2">
				<span>INTEREST GROUPS</span>
			</div>

			<div class="col-md-10 col-md-offset-1 col-sm-12 box-content border-bottom-2">

				<div class="row">

					{% if interest_groups %}

						{% for group in interest_groups %}

							<div class="col-md-3 col-sm-4 text-center">
								<div class="group-icon">
									<div class="group-img">
										<img src="{{ url_for('static', filename='../../static/images/pub-default-img.jpg') }}" class="img-circle zoomify" data-toggle="modal" data-target="#group-{{ group['id'] }}" />
									</div>
									<div class="group-desc">
										<h4 class="title">{{ group['name'] | upper }}</h4>
										<p><i class="fa fa-user"></i> 10</p>
									</div>
								</div>
							</div>

							{# {{ group_modal(group.id) }} #}
							{{ group_modal(group.id, group.name, group.about) }}

						{% endfor %}

						<div class="col-md-12 text-center box-footer">
							<button type="button" class="btn btn-style-2">View All Groups</button>
						</div>

					{% else %}

						<div class="no-content-box text-center">
							<h2>NO INTEREST GROUPS TO SHOW</h2>
						</div>

					{% endif %}

				</div>

			</div>

	</div>

{% endblock content %}