*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# SQLite databases
*.sqlite

# Virtual environment
venv
pub

# Temporary in Red's Environment
app/api_1_0/authentication.py
app/api_1_0/crud.py
app/api_1_0/errors.py

# Uploads
app/static/uploads/activity_images/*
app/static/uploads/covers/*
app/static/uploads/group_icons/*
app/static/uploads/profile_pictures/*

!app/static/uploads/activity_images/.gitkeep
!app/static/uploads/covers/.gitkeep
!app/static/uploads/group_icons/.gitkeep
!app/static/uploads/profile_pictures/.gitkeep