{% extends "./layout/client_base.html" %}

{% block title %} Create Activity {% endblock title %}

{% block content %}

    <div class="row">

        <div class="col-md-12">
            <div class="group-box">

                <h3>CREATE ACTIVITY
                    <a href="/activities">
                        <button class="btn btn-style-4 btn-sm pull-right">Cancel</button>
                    </a>
                </h3>
                <hr/>
                <br/>

                <div class="row">

                    <form class="row admin-form activity-form" style="padding: 0px" method="post" enctype="multipart/form-data" name="create_activity">
                        {{ form.hidden_tag() }}

                        <div class="col-md-6">
                            <div class="row">

                                <div class="col-md-12">
                                    <h4>Activity Name</h4>
                                    {{ form.title(
                                        placeholder="Activity Name",
                                        class="form-control",
                                        required="true") }}
                                </div>
                                <div class="col-md-6">
                                    <br/>
                                    <h4>Start Date</h4>
                                    {{ form.start_date(
                                        placeholder="Start Date",
                                        class="form-control",
                                        required="true")}}
                                </div>
                                <div class="col-md-6">
                                    <br/>
                                    <h4>End Date</h4>
                                    {{ form.end_date(
                                        placeholder="End Date",
                                        class="form-control",
                                        required="true")}}
                                </div>
                                <div class="col-md-12">
                                    <br/>
                                    <h4>Venue</h4>
                                    {{ form.address(
                                        placeholder="Venue/Address",
                                        class="form-control",
                                        required="true"
                                    )}}
                                </div>
                                <div class="col-md-12">
                                    <br/>
                                    <h4>Assign to Group</h4>
                                    {{ form.group(
                                        class="form-control",
                                        required="true")
                                    }}
                                </div>
                                <div class="col-md-12">
                                    <br/>
                                    <h4>Description</h4>
                                    <div id="description-editor" class="wysiwyg-editor" placeholder="Describe this activity">

                                    </div>
                                    {{ form.description(
                                        placeholder="Description",
                                        class="none",   
                                        hidden="true") }}
                                </div>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <br/><br/>
                            <div class="img-upload text-center">
                                <img id="preview" src="{{ url_for('static', filename='images/pub-default-img.jpg') }}"/>
                                {{ form.image(
                                    placeholder="Activity Image",
                                )}}
                                <div id="upload-btn" class="text">
                                    <button class="btn btn-style-1">Choose Activity Image</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <br/><br/>
                            <input class="btn btn-default" type="reset" value="Reset">
                            {{ form.submit(
                                class="btn btn-style-1"
                            )}}
                        </div>
                    </form>

                </div>

            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#description-editor').trumbowyg({
                btns: [
                    'btnGrp-semantic',
                    ['superscript', 'subscript'],
                    ['link'],
                    // ['insertImage'],
                    'btnGrp-lists',
                    ['fullscreen']
                ]
            });

            $("#submit").on('click', function(e) {
                $("#description").text($("#description-editor").trumbowyg('html'));
            });

            $("#image").on('change', function() {
                var reader = new FileReader();
                 reader.onload = function()
                 {
                  var output = document.getElementById('preview');
                  output.src = reader.result;
                 }
                 reader.readAsDataURL(event.target.files[0]);
            });

            $("#preview").on('click', function() {
                $("#image").trigger('click');
            });

            $("#upload-btn").on('click', function(e) {
                e.preventDefault();
                $("#image").trigger('click');
            });

        });



    </script>
{% endblock %}