{% extends "./layout/client_base.html" %}
{% from "client/components/activity-modal.html" import activity_modal %}

{% block title %} Interest Groups {% endblock title %}

{% block content %}

	<div class="row">

		<div class="col-md-12">
			<div class="group-box">

				<h2>MY ACTIVITIES</h2>
				<hr/>

				<div class="row">
					{% if activities %}
						{% for a in activities %}
							{{ activity_modal(a) }}
						{% endfor %}
					{% else %}
						<div class="col-md-12 no-content-box text-center">
							<h2>NO ACTIVITIES</h2>
						</div>
					{% endif %}
				</div>

			</div>
		</div>

	</div>

{% endblock content %}

{% block scripts %}
	<script src="{{ url_for('static', filename='js/client/activity.js') }}"></script>
{% endblock scripts %}