{% extends "./layout/client_base.html" %}

{% block title %} My Activities {% endblock title %}

{% block content %}

	<div class="row">

		<div class="col-md-12">
			<div class="group-box">

				<h3>MY ACTIVITIES</h3>
                <hr/>

                {% raw %}
                <div id="joined" class="row">

                    <template v-if="activities.length > 0">

                        <div v-for="activity in activities" id="activity_list">
                            <!-- ACTIVITY CARD -->
                            <div class="col-md-3 col-lg-4 col-sm-6 card-container" v-on:click="loadActivityInfo(activity)">
                                <div class="card zoomify" data-toggle="modal" :data-target="'#activity-joined-' + activity.id">
                                    <div class="card-img">
                                        <img :src="activity_card_images_folder + activity.image" class="img-responsive" />
                                    </div>
                                    <div class="card-desc">
                                        <h4 class="text-center title">{{ activity.title}}</h4>
                                        <p v-if="activity.description">{{ activity.description }}</p>
                                        <p v-else><i><small>No description</small></i></p>
                                    </div>
                                </div>
                            </div> <!-- END OF ACTIVITY CARD -->    

                            <!-- ACTIVITY MODAL -->
                            <div class="modal fade" :id="'activity-joined-' + activity.id" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- HEADER -->
                                        <div class="modal-header">
                                            <span><b>ACTIVITY</b></span>
                                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                                        </div>
                                        <!-- BODY -->
                                        <div class="modal-body">
                                            <div class="img-container">
                                                <!-- <img src="{{ url_for('static',filename='uploads/activity_images/' + activity.image) }}" /> -->
                                               <img :src="activity_modal_images_folder + activity.image" />
                                            </div>
                                            <h2 class="text-center">{{ activity.title}}</h2>
                                            <div class="content">
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li role="presentation" class="active act-li">
                                                        <a :href="'#act-desc-joined-' + activity.id" role="tab" data-toggle="tab">Description</a>
                                                    </li>
                                                    <li role="presentation" class="act-li">
                                                        <a :href="'#act-interested-joined-' + activity.id" role="tab" data-toggle="tab">Interested</a>
                                                    </li>
                                                    <li role="presentation" class="act-li">
                                                        <a :href="'#act-going-joined-' + activity.id" role="tab" data-toggle="tab">Going</a>
                                                    </li>
                                                </ul>

                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane active" :id="'act-desc-joined-' + activity.id">
                                                        <p v-if="activity.description">{{ activity.description }}</p>
                                                        <p v-else><i><small>No description</small></i></p>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" :id="'act-interested-joined-' + activity.id">
                                                        <div class="row">
                                                            <template v-if="activity.interested_users.length > 0">
                                                                <div v-for="interested_user in activity.interested_users" class="col-md-6 mini-container">
                                                                    <a :href="'/profile/' + interested_user.id">
                                                                        <div>
                                                                            <img v-if="interested_user.image" class="img-circle" width="30px" height="30px" :src="user_images_folder+interested_user.image">
                                                                            <img v-else :src="'../../../static/images/pub-default-img.jpg'" width="30px" height="30px" class="img-circle">
                                                                            <span>{{ interested_user.firstname }} {{interested_user.lastname}}</span>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </template>
                                                            <template v-else>
                                                                 <div style="padding-left: 10px;">
                                                                    <i><small>No interested users.</small></i>
                                                                </div>
                                                            </template>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" :id="'act-going-joined-' + activity.id">
                                                        <div class="row">
                                                            <template v-if="activity.going_users.length > 0">
                                                                <div v-for="going_user in activity.going_users" class="col-md-6 mini-container">
                                                                    <a :href="'/profile/' + going_user.id">
                                                                        <div>
                                                                            <img v-if="going_user.image" class="img-circle" width="30px" height="30px" :src="user_images_folder+going_user.image">
                                                                            <img v-else :src="'../../../static/images/pub-default-img.jpg'" width="30px" height="30px" class="img-circle">
                                                                            <span>{{ going_user.firstname }} {{ going_user.lastname }}</span>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </template>
                                                            <template v-else>
                                                                 <div style="padding-left: 10px;">
                                                                    <i><small>No going users.</small></i>
                                                                </div>
                                                            </template>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- FOOTER -->
                                        <div class="modal-footer">

                                            <button v-if="activity.isInterested" type="button" class="btn btn-style-1" :id="activity.id" value="cgoing" v-on:click="toggleInterested(activity)">
                                                NOT INTERESTED
                                            </button>
                                            <button v-else type="button" class="btn btn-style-2" :id="activity.id" value="cgoing" v-on:click="toggleInterested(activity)">
                                                INTERESTED
                                            </button>

                                            <!-- GOING BTNS -->
                                            <button v-if="activity.isGoing" type="button" class="btn btn-style-1" :id="activity.id" value="cgoing" v-on:click="toggleGoing(activity)">
                                                LEAVE ACTIVITY
                                            </button>
                                            <button v-else type="button" class="btn btn-style-2" :id="activity.id" value="cgoing" v-on:click="toggleGoing(activity)">
                                                JOIN ACTIVITY
                                            </button>
                                            <!-- END OF GOING BTNS -->

                                        </div> <!-- end of modal-footer -->
                                    </div>
                                </div>
                            </div> <!-- end of ACTIVITY MODAL -->
                        </div> <!-- END of activity_list -->

                        <div class="show-more-box col-md-12">
                            <button v-show="hasNext" class="btn btn-style-3" v-on:click="loadActivities">Show More</button>
                        </div> <!-- end of show more div -->

                    </template>

                    <template v-else>
                        <div class="col-md-12 no-content-box text-center">
                            <h2><small>NO ACTIVITIES</small></h2>
                        </div>
                    </template>

                </div>
                {% endraw %}

            </div>
        </div>

    </div>

    <br/>

	<div class="row">

		<div class="col-md-12">
			<div class="group-box">

				<h3>ACTIVITIES I'M INTERESTED IN</h3>
                <hr/>

                {% raw %}
                <div id="interested" class="row">

                    <template v-if="activities.length > 0">

                        <div v-for="activity in activities" id="activity_list">
                            <!-- ACTIVITY CARD -->
                            <div class="col-md-3 col-lg-4 col-sm-6 card-container" v-on:click="loadActivityInfo(activity)">
                                <div class="card zoomify" data-toggle="modal" :data-target="'#activity-interested-' + activity.id">
                                    <div class="card-img">
                                        <img :src="activity_card_images_folder + activity.image" class="img-responsive" />
                                    </div>
                                    <div class="card-desc">
                                        <h4 class="text-center title">{{ activity.title}}</h4>
                                        <p v-if="activity.description">{{ activity.description }}</p>
                                        <p v-else><i><small>No description</small></i></p>
                                    </div>
                                </div>
                            </div> <!-- END OF ACTIVITY CARD -->

                            <!-- ACTIVITY MODAL -->
                            <div class="modal fade" :id="'activity-interested-' + activity.id" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- HEADER -->
                                        <div class="modal-header">
                                            <span><b>ACTIVITY</b></span>
                                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                                        </div>
                                        <!-- BODY -->
                                        <div class="modal-body">
                                            <div class="img-container">
                                                <!-- <img src="{{ url_for('static',filename='uploads/activity_images/' + activity.image) }}" /> -->
                                               <img :src="activity_modal_images_folder + activity.image" />
                                            </div>
                                            <h2 class="text-center">{{ activity.title}}</h2>
                                            <div class="content">
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li role="presentation" class="active act-li">
                                                        <a :href="'#act-desc-interested-' + activity.id" role="tab" data-toggle="tab">Description</a>
                                                    </li>
                                                    <li role="presentation" class="act-li">
                                                        <a :href="'#act-interested-interested-' + activity.id" role="tab" data-toggle="tab">Interested</a>
                                                    </li>
                                                    <li role="presentation" class="act-li">
                                                        <a :href="'#act-going-interested-' + activity.id" role="tab" data-toggle="tab">Going</a>
                                                    </li>
                                                </ul>

                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane active" :id="'act-desc-interested-' + activity.id">
                                                        <p v-if="activity.description">{{ activity.description }}</p>
                                                        <p v-else><i><small>No description</small></i></p>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" :id="'act-interested-interested-' + activity.id">
                                                        <div class="row">
                                                            <div v-for="interested_user in activity.interested_users" class="col-md-6 mini-container">
                                                                <a :href="'/profile/' + interested_user.id">
                                                                    <div>
                                                                        <img v-if="interested_user.image" class="img-circle" width="30px" height="30px" :src="user_images_folder+interested_user.image">
                                                                        <img v-else :src="'../../../static/images/pub-default-img.jpg'" width="30px" height="30px" class="img-circle">
                                                                        <span>{{ interested_user.firstname }} {{interested_user.lastname}}</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" :id="'act-going-interested-' + activity.id">
                                                        <div class="row">
                                                            <div v-for="going_user in activity.going_users" class="col-md-6 mini-container">
                                                                <a :href="'/profile/' + going_user.id">
                                                                    <div>
                                                                        <img v-if="going_user.image" class="img-circle" width="30px" height="30px" :src="user_images_folder+going_user.image">
                                                                        <img v-else :src="'../../../static/images/pub-default-img.jpg'" width="30px" height="30px" class="img-circle">
                                                                        <span>{{ going_user.firstname }} {{ going_user.lastname }}</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- FOOTER -->
                                        <div class="modal-footer">

                                            <button v-if="activity.isInterested" type="button" class="btn btn-style-1" :id="activity.id" value="cgoing" v-on:click="toggleInterested(activity)">
                                                NOT INTERESTED
                                            </button>
                                            <button v-else type="button" class="btn btn-style-2" :id="activity.id" value="cgoing" v-on:click="toggleInterested(activity)">
                                                INTERESTED
                                            </button>

                                            <!-- GOING BTNS -->
                                            <button v-if="activity.isGoing" type="button" class="btn btn-style-1" :id="activity.id" value="cgoing" v-on:click="toggleGoing(activity)">
                                                LEAVE ACTIVITY
                                            </button>
                                            <button v-else type="button" class="btn btn-style-2" :id="activity.id" value="cgoing" v-on:click="toggleGoing(activity)">
                                                JOIN ACTIVITY
                                            </button>
                                            <!-- END OF GOING BTNS -->

                                        </div> <!-- end of modal-footer -->
                                    </div>
                                </div>
                            </div> <!-- end of ACTIVITY MODAL -->
                        </div> <!-- END of activity_list -->

                        <div class="show-more-box col-md-12">
                            <button v-show="hasNext" class="btn btn-style-3" v-on:click="loadActivities">Show More</button>
                        </div> <!-- end of show more div -->

                    </template>

                    <template v-else>
                        <div class="col-md-12 no-content-box text-center">
                            <h2><small>NO ACTIVITIES</small></h2>
                        </div>
                    </template>

                </div>
                {% endraw %}

            </div>
        </div>

    </div>

{% endblock content %}

{% block scripts %}
    <script>
        var joined = new Vue({
          el: '#joined',
          data: {
            activities: [],
            activities_page: 1,
            hasNext: false,
            activity_card_images_folder: '/static/uploads/activity_images/260x200/',
            activity_modal_images_folder: '/static/uploads/activity_images/600x250/',
            user_images_folder: '/static/uploads/profile_pictures/'
          },
          methods: {
            loadActivities: function() {
                $.ajax({
                    url: "{{ url_for('api.my_joined_activities')}}" + "?page=" + this.activities_page,
                    type: 'GET'
                }).done(data => {
                    data.joined_activities.forEach((activity) => {
                        // add neccessary field for display
                        activity.going_users      = [];
                        activity.interested_users = [];
                        activity.isInterested     = false;
                        activity.isGoing          = false;
                    });
                    this.activities.push.apply(this.activities, data.joined_activities); // append activities
                    this.activities_page++;
                    this.hasNext = data.has_next;
                });
                //console.log(this.activities);
            },
            loadActivityInfo: function(activity) {
                // load going users
                $.ajax({
                    url: '/api/v1.0/activities/'+ activity.id + '/participants/going',
                    type: 'GET'
                }).done(function(data) {
                    console.log(data);
                    activity.going_users = data.going_users;
                }).fail(function() {
                    console.log("error");
                });
                // load interested users
                $.ajax({
                    url: '/api/v1.0/activities/'+ activity.id + '/participants/interested',
                    type: 'GET'
                }).done(function(data) {
                     activity.interested_users = data;
                }).fail(function() {
                    console.log("error");
                });
                // check if users is interested
                $.ajax({
                    url: '/api/v1.0/activities/' + activity.id + '/participation',
                    type: 'GET'
                }).done(function(data) {
                    activity.isGoing = data.going;
                    activity.isInterested = data.interested;
                });
            },
            toggleGoing: function(activity) {
                if (activity.isGoing) {
                    $.ajax({
                        url: '/api/v1.0/activities/'+ activity.id + '/participants/going',
                        type: 'DELETE'
                    }).done(function(data) {
                         activity.isGoing = false;
                    });
                } else {
                    $.ajax({
                        url: '/api/v1.0/activities/'+ activity.id + '/participants/going',
                        type: 'POST'
                    }).done(function(data) {
                         activity.isGoing = true;
                    });
                }
            },
            toggleInterested: function(activity) {
                if (activity.isInterested) {
                    $.ajax({
                        url: '/api/v1.0/activities/'+ activity.id + '/participants/interested',
                        type: 'DELETE'
                    }).done(function(data) {
                         activity.isInterested = false;
                    });
                } else {
                    $.ajax({
                        url: '/api/v1.0/activities/'+ activity.id + '/participants/interested',
                        type: 'POST'
                    }).done(function(data) {
                         activity.isInterested = true;
                    });
                }
            }
          }
        });

        var interested = new Vue({
          el: '#interested',
          data: {
            activities: [],
            activities_page: 1,
            hasNext: false,
            activity_card_images_folder: '/static/uploads/activity_images/260x200/',
            activity_modal_images_folder: '/static/uploads/activity_images/600x250/',
            user_images_folder: '/static/uploads/profile_pictures/'
          },
          methods: {
            loadActivities: function() {
                $.ajax({
                    url: "{{ url_for('api.my_interested_activities')}}" + "?page=" + this.activities_page,
                    type: 'GET'
                }).done(data => {
                    data.interested_activities.forEach((activity) => {
                        // add neccessary field for display
                        activity.going_users      = [];
                        activity.interested_users = [];
                        activity.isInterested     = false;
                        activity.isGoing          = false;
                    });
                    this.activities.push.apply(this.activities, data.interested_activities); // append activities
                    this.activities_page++;
                    this.hasNext = data.has_next;
                });
                //console.log(this.activities);
            },
            loadActivityInfo: function(activity) {
                // load going users
                $.ajax({
                    url: '/api/v1.0/activities/'+ activity.id + '/participants/going',
                    type: 'GET'
                }).done(function(data) {
                    console.log(data);
                    activity.going_users = data.going_users;
                }).fail(function() {
                    console.log("error");
                });
                // load interested users
                $.ajax({
                    url: '/api/v1.0/activities/'+ activity.id + '/participants/interested',
                    type: 'GET'
                }).done(function(data) {
                     activity.interested_users = data;
                }).fail(function() {
                    console.log("error");
                });
                // check if users is interested
                $.ajax({
                    url: '/api/v1.0/activities/' + activity.id + '/participation',
                    type: 'GET'
                }).done(function(data) {
                    activity.isGoing = data.going;
                    activity.isInterested = data.interested;
                });
            },
            toggleGoing: function(activity) {
                if (activity.isGoing) {
                    $.ajax({
                        url: '/api/v1.0/activities/'+ activity.id + '/participants/going',
                        type: 'DELETE'
                    }).done(function(data) {
                         activity.isGoing = false;
                    });
                } else {
                    $.ajax({
                        url: '/api/v1.0/activities/'+ activity.id + '/participants/going',
                        type: 'POST'
                    }).done(function(data) {
                         activity.isGoing = true;
                    });
                }
            },
            toggleInterested: function(activity) {
                if (activity.isInterested) {
                    $.ajax({
                        url: '/api/v1.0/activities/'+ activity.id + '/participants/interested',
                        type: 'DELETE'
                    }).done(function(data) {
                         activity.isInterested = false;
                    });
                } else {
                    $.ajax({
                        url: '/api/v1.0/activities/'+ activity.id + '/participants/interested',
                        type: 'POST'
                    }).done(function(data) {
                         activity.isInterested = true;
                    });
                }
            }
          }
        });

        $(document).ready(function() {
            joined.loadActivities();
            interested.loadActivities();
        });
    </script>
{% endblock scripts %}