{% extends "./layout/client_base.html" %}
{% from "components/activity-modal.html" import activity_modal %}

{% block title %} Interest Groups {% endblock title %}

{% block content %}

	<div class="row">

		<div class="col-md-12">
			<div class="group-box">

				<h3>MY ACTIVITIES</h3>
				<hr/>

				<div class="no-content-box text-center">
					<h2>NO ACTIVITIES</h2>
				</div>

			</div>
		</div>

	</div>

{% endblock content %}

{% block scripts %}
	<script src="{{ url_for('static', filename='js/client/activity.js') }}"></script>
{% endblock scripts %}


<!-- <div class="row">
	{% if activities %}
		{% for activity in activities %}
			{{ activity_modal(activity) }}
		{% endfor %}
	{% else %}
		<div class="col-md-12 no-content-box text-center">
			<h2>NO ACTIVITIES</h2>
		</div>
	{% endif %}
</div> -->