{% extends "./layout/client_base.html" %}

{% block title %} Create Perks {% endblock title %}

{% block content %}

	<div class="row">

		<div class="col-md-12">
			<div class="group-box">

				<h3>CREATE A PERKS<a href="/perks">
                        <button class="btn btn-style-4 btn-sm pull-right">Cancel</button>
                    </a>
                </h3>
				<hr/>

				<div class="row">
					<div class="col-md-12" style="padding: 20px 30px;">
						
						<h4><small>Requirement fields for perks card.</small></h4>

					</div>
				</div>

			</div>
		</div>

	</div>

{% endblock content %}