{% extends "./layout/client_base.html" %}

{% block title %} Create Perks {% endblock title %}

{% block content %}

	<div class="row">

		<div class="col-md-12">
			<div class="group-box">

				<h3>CREATE PERKS
					<a href="/perks/manage">
                        <button class="btn btn-style-4 btn-sm pull-right" title="Back To Manage Perks">Cancel</button>
                    </a>
                </h3>
				<hr/>
				<br/>
						
				<form class="row activity-form" method="post" enctype="multipart/form-data" name="create_perk" style="margin-bottom: 20px; padding: 15px;">

					<div class="col-md-6">
                        {{ form.hidden_tag() }}
                        <div>
                            <h4>Title</h4>
			                {{ form.title(
			                    placeholder="Title",
			                    class="form-control",
			                    required="true") }}
			            </div>
			            <br/>
			            <div>
                            <h4>Description</h4>
			                {{ form.description(
			                    placeholder="About this Group",
			                    class="form-control input-md",
			                    required="true") }}
						</div>
					</div>

					<div class="col-md-6 no-padding-right" style="padding: 0px;">
			            <div class="img-upload text-center">
			                <br />
			                    <img id="preview" src="{{ url_for('static', filename='images/pub-default-img.jpg') }}" style="height: 300px;" />
			                    <div id="upload-btn" class="text">
			                        <button class="btn btn-style-1">Choose Perks Image</button>
			                    </div>
			                    {{ form.image(
			                        placeholder="Perk Image",
			                    )}}
			            </div>
			        </div>

					<br/><br/>
					<div class="col-md-12">
                        <br/><br/>
                        <input class="btn btn-default" type="reset" value="Reset">
                        {{ form.submit(
                            placeholder="Submit",
                            class="btn btn-style-1"
                        )}}
                    </div>

				</form>

			</div>
		</div>

	</div>

{% endblock content %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $("#image").on('change', function() {
                var reader = new FileReader();
                 reader.onload = function()
                 {
                  var output = document.getElementById('preview');
                  output.src = reader.result;
                 }
                 reader.readAsDataURL(event.target.files[0]);
            });

            $("#preview").on('click', function() {
                $("#image").trigger('click');
            });

            $("#upload-btn").on('click', function(e) {
                e.preventDefault();
                $("#image").trigger('click');
            });

        });
    </script>
{% endblock %}