{% extends "./layout/client_base.html" %}

{% block title %} Perks {% endblock title %}

{% block content %}

	<div class="row">

		<div class="col-md-12">
			<div class="group-box">

				<h3>UNIONBANK PERKS
					{% if is_manager %}
					<span class="pull-right">
	                    <a href="/perks/create" class="create-perks-btn">
                            <button class="btn btn-style-2 btn-sm" title="Create Perks">CREATE PERKS &nbsp;<i class="fa fa-plus"></i></button>
                        </a>
                    </span>
                    {% endif %}
                </h3>
                <hr/>

				{% raw %}
				<div id="perks_app" class="row">

					 <template v-if="perks.length > 0">
                        <div v-for="perk in perks" class="col-md-6 perks-card" v-on:click="perkClicked(perk)">
                            <div class="row zoomify perks-inner-card" data-toggle="modal" :data-target="'#perks-' + perks.id">
                                <div class="col-md-5 no-padding perks-col-1">
                                    <img :src="'../../static/uploads/perks_images/164x200/' + perk.image"/>
                                </div>
                                <div class="col-md-7 perks-col-2">
                                    <h4 class="title"><strong>{{ perk.title }}</strong></h4>
                                    <div class="perks-desc">
                                        <p><small><i>Click for description</i></small></p>
                                    </div>
                                    <h5 class="title" class="perks-timestamp"><small>{{ perk.timestamp }}</small></h5>
                                    <span class="perks-edit">
	                                    <a v-show="is_manager" :href="'/perks/'+ perk.id + '/edit'" class="perks-edit-btn">
	                                        <button class="btn btn-style-3 btn-sm" :title="'Edit ' + perk.title"><i class="fa fa-gear"></i></button>
	                                    </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 no-padding text-center show-more-box">
                        	<br/>
                            <button v-show="hasNext" class="btn btn-style-3" v-on:click="loadPerks">Show More</button>
                        </div>
                    </template>

                    <!-- PERKS MODAL -->
                    <div class="modal fade grp-modal" :id="'perks-' + perks.id" role="dialog" v-if="perks.length > 0">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <!-- HEADER -->
                                <div class="modal-header">
                                    <span><b>PERKS</b></span>
                                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                                </div>
                                <!-- BODY -->
                                <div class="modal-body">

                                    <div class="row">
                                        <div class="col-md-5 no-padding perks-modal-body">
                                            <img :src="'../../static/uploads/perks_images/375x240/' + perk.image"/>
                                        </div>
                                        <div class="col-md-7 perks-modal-content">
                                            <h4 class="title"><strong>{{ perk.title }}</strong></h4>
                                            <h5 class="title"><small>{{ perk.timestamp }}</small></h5>
                                            <br/>
                                            <div class="perks-modal-desc">
                                                <div v-html="perk.description"></div>
                                            </div>
                                            <span class="perks-modal-edit-btn">
                                                <a v-show="is_manager" :href="'/perks/'+ perk.id + '/edit'">
                                                    <button class="btn btn-style-3 btn-sm" :title="'Edit ' + perk.title"><i class="fa fa-gear"></i></button>
                                                </a>
                                            </span>
                                        </div>
                                    </div>

                                </div>

                                <!-- FOOTER -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-style-4" data-dismiss="modal">Close</button>
                                </div> <!-- END OF FOOTER -->

                            </div>
                        </div>
                    </div> <!-- END OF PERKS MODAL -->

	                <template v-if="perks.length == 0">
	                	<div class="col-md-12 no-content-box text-center">
                        	<h2><small>NO PERKS FOR TODAY</small></h2>
                    	</div>
	                </template>

				</div>
				{% endraw %}

			</div>
		</div>

	</div>

{% endblock content %}

{% block scripts %}
	<script>
		var vm = new Vue({
			el: "#perks_app",
			data: {
				perks: [],
				page: 1,
				hasNext: false,
				is_manager: false,
                perk: null,
			},
			methods: {
				loadPerks: function() {
					$.ajax({
						url: '../../api/v1.0/perks' + "?page=" + this.page,
						type: 'GET'
					}).done(data => {
						console.log(data);
						this.perks.push.apply(this.perks, data.perks);
						this.hasNext = data.has_next;
						this.page++;
                        this.perk = data.perks[0];
					});
				},
                perkClicked: function(perk) {
                    this.perk = perk;
                }
			}
		});
		$(document).ready(function() {
			vm.loadPerks();
			vm.is_manager = "{{ is_manager }}" == "True" ? true : false;
		})
	</script>
{% endblock scripts %}