{% extends "./layout/client_base.html" %}

{% block title %} {{ user['firstname'] }} {{ user['lastname'] }} {% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-3 profile-info">
            {% if user.image %}
                <img id="dp" src="{{ url_for('static', filename='uploads/profile_pictures/' + user.image) }}"
                    width="200px" 
                    height="200px"/>
            {% else %}
                <img id="dp" src="{{ url_for('static', filename='images/pub-default-img.jpg') }}"
                    width="200px" 
                    height="200px"/>
            {% endif %}
            <h3>{{ user['firstname'] }} {{ user['lastname'] }}</h3>
            <p>{{ user['position'] }} <br /> {{ user['department'] }}</p>
        </div>

        <div class="col-md-12 text-right cover" style="background-color: white; padding: 0px;">
            <!-- Check if user has set cover photo
            <img src="{{ url_for('static', filename='images/building.png') }}"
                style="width: 100%; height: 250px; z-index: 1;"/> -->

            <!-- hold the trianlify cover photo -->
            <div id="trianglify-cover" class="col-md-12 text-right"></div>

            <div id="profile-btns">

                <div class="btn btn-xs points" disabled>
                    <h6>Points</h6>
                    <h4>{{ user['points'] }}</h4>
                </div>

                {% if following_count > 0 %}
                    <div class="btn btn-xs following-count" disabled>
                        <h6>Following</h6>
                        <h4>{{ following_count }}</h4>
                    </div>
                {% else %}
                    <div class="btn btn-xs following-count" disabled>
                        <h6>Following</h6>
                        <h4>{{ following_count }}</h4>
                    </div>
                {% endif %}

                {% if followers_count > 0 %}
                    <div class="btn btn-xs followers-count" disabled>
                        <h6>Followers</h6>
                        <h4>{{ followers_count }}</h4>
                    </div>
                {% else %}
                    <div class="btn btn-xs followers-count" disabled>
                        <h6>Followers</h6>
                        <h4>{{ followers_count }}</h4>
                    </div>
                {% endif %}

                {% if current_user['id'] == user['id'] %}
                    <a href="#" id="btn-edit-profile" class="btn btn-style-3" disabled>Edit Profile</a>
                {% endif %}

            </div>  
        </div>

        <form class="col-md-offset-3 col-md-7 edit-section" method="post" name="update_password">
            {{ form.hidden_tag() }}
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <h3>Edit Profile</h3>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Old Password</label>
                    {{ form.old_password(
                        class="form-control",
                        placeholder="Old Password"
                    )}}
                </div>
                <div class="col-md-6">
                    <br />
                    <p id="wrong-password" hidden="true"><span class="fa fa-times-circle"></span> Wrong Password</p>
                    <p id="correct-password" hidden="true"><span class="fa fa-check-circle"></span> Correct</p>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-6">
                    <label>New Password</label>
                    {{ form.new_password(
                        class="form-control",
                        placeholder="New Password"
                    )}}
                </div>

                <div class="col-md-6">
                    <label>Confirm Password</label>
                    <input id="confirm-pass" class="form-control" type="password" placeholder="Confirm Password" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-6 col-md-6">
                    <p id="missmatch-error" hidden="true"><span class="fa fa-times-circle"></span> Password mismatch.</p>
                </div>
            </div>

            <div class="col-md-12">
                <br />
                {{ form.submit(
                    class="btn btn-style-1 pull-right",
                    disabled="true"
                )}}
            </div>
        </form>

    </div>

    <br /><br /><br />

{% endblock content %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script>
    <script>
        var pattern = Trianglify({
            width: $("#trianglify-cover").width(),
            height: $("#trianglify-cover").height(),
            seed: "{{ user['id'] }}"
        });
        $("#trianglify-cover").append(pattern.svg())

        var isCorrectPassword = false;
        $("#old_password").change(function() {
            $.ajax({
                url: "{{ url_for('api.is_correct_password') }}",
                type: 'POST',
                data: {
                    password: $(this).val()
                }
            }).done(function(data) {
                if (data.is_correct_password) {
                    $("#wrong-password").hide();
                    $("#correct-password").show();
                    isCorrectPassword = true;
                } else {
                    $("#correct-password").hide();
                    $("#wrong-password").show();
                    isCorrectPassword = false;
                }
                willEnableSubmit();
            });
        });

        $('#confirm-pass').change(function() {
            if ($(this).val() == $('#new_password').val()) {
                $('#missmatch-error').hide();
            } else {
                $('#mismatch-error').show();
            }
            willEnableSubmit();
        });

        $('#new_password').change(function() {
            $('#confirm-pass').val("");
            $('#missmatch-error').hide();
            willEnableSubmit();
        });

        function willEnableSubmit() {
            if ($("#confirm-pass").val() == $('#new_password').val() &&
                isCorrectPassword == true && $("#new_password").val().length > 0) {
                $('#submit').prop('disabled', false);
            } else {
                $('#submit').prop('disabled', true);
            }
        }

    </script>
    <script src="{{ url_for('static', filename='js/client/profile.js') }}"></script>
{% endblock scripts %}