{% extends "./layout/client_base.html" %}

{% block title %} {{ user['firstname'] }} {{ user['lastname'] }} {% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-md-3 profile-info">
            {% if user.image %}
                <img src="{{ url_for('static', filename='uploads/profile_pictures/' + user.image) }}"
                    width="200px" 
                    height="200x" />
            {% else %}
                <img src="{{ url_for('static', filename='images/pub-default-img.jpg') }}"
                    width="200px" 
                    height="200x"/>
            {% endif %}
            <a href="{{ url_for('client.view_profile', id=user.id)}}">
                <h3>{{ user['firstname'] }} {{ user['lastname'] }}</h3>
            </a>
            <p>{{ user['position'] }} <br /> {{ user['department'] }}</p>
        </div>

        <div class="col-md-12 text-right cover">

            <div id="trianglify-cover" class="col-md-12 text-right tri-cover-photo">
            </div>

            <div id="profile-btns" class="profile-buttons">

                {% if user.total_points() > 0 %}
                    <a href="{{ url_for('client.points', id=user.id) }}" class="btn btn-xs following-count">
                        <h6>Points</h6>
                        <h4>{{ user.total_points() }}</h4>
                    </a>
                {% else %}
                    <div class="btn btn-xs points">
                        <h6>Points</h6>
                        <h4>{{ user.total_points() }}</h4>
                    </div>
                {% endif %}

                {% if followings_count > 0 %}
                    <a href="{{ url_for('client.following', id=user.id) }}" class="btn btn-xs profile-buttons">
                        <h6>Following</h6>
                        <h4>{{ followings_count }}</h4>
                    </a>
                {% else %}
                    <div class="btn btn-xs profile-buttons">
                        <h6>Following</h6>
                        <h4>{{ followings_count }}</h4>
                    </div>
                {% endif %}

                {% if followers_count > 0 %}
                    <a href="{{ url_for('client.followers', id=user.id) }}" class="btn btn-xs profile-follower-btn">
                        <h6>Followers</h6>
                        <h4>{{ followers_count }}</h4>
                    </a>
                {% else %}
                    <div class="btn btn-xs profile-follower-btn">
                        <h6>Followers</h6>
                        <h4>{{ followers_count }}</h4>
                    </div>
                {% endif %}

                {% if current_user['id'] == user['id'] %}
                    <a href="{{ url_for('client.edit_profile', id=user.id) }}" id="btn-edit-profile" class="btn btn-style-3 profile-edit-btn">Edit Profile</a>
                {% endif %}


                {% if current_user['id'] != user['id'] and is_following != True %}
                    <a id="btn-follow" class="btn btn-style-2 profile-edit-btn">Follow</a>
                {% endif %}

                {% if current_user['id'] != user['id'] and is_following == True %}
                    <a id="btn-unfollow" class="btn btn-style-1 profile-edit-btn">Following</a>
                {% endif %}
            </div>
        </div>

        <div class="row">
            {% raw %}
            <div id="followings_app" class="col-md-offset-4 col-md-8 follow-root">
                <div class="row">
                    <div v-for="following in followings" class="col-md-6 mini-card-con">
                        <div class="follow-card">

                            <img v-if="following.image" :src="'../../../static/uploads/profile_pictures/' + following.image" class="follow-img">

                            <img v-else src="../../../static/images/pub-default-img.jpg" class="follow-img">

                            <div v-if="following.id != cur_user_id">
                                <button v-if="following.isFollowing" class="pull-right btn btn-style-1 mini-follow-btn" v-on:click="toggleFollow(following)">Following</button>
                                <button v-else class="pull-right btn btn-style-2 mini-follow-btn" v-on:click="toggleFollow(following)">Follow</button>
                            </div>
                            
                            <h4>
                            <a :href="'../../profile/' + following.id">
                                {{ following.firstname }} {{ following.lastname }}
                            </a>
                            </h4>

                            <p class="mini-follow-position">{{ following.position }}<br />
                            {{ following.department }}</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            {% endraw %}
        </div>

    </div>

{% endblock content %}

{% block scripts %}
    
    <script>
        var pattern = Trianglify({
            width: $("#trianglify-cover").width(),
            height: $("#trianglify-cover").height(),
            seed: "{{ user['id'] }}"
        });
        $("#trianglify-cover").append(pattern.svg())

        function set_buttons() {
            $("#btn-follow").on('click', function() {
                $.ajax({
                    'url': '{{ url_for('api.follow_user', to_follow_id=user["id"]) }}',
                    'type': 'POST'
                }).done(function(data) {
                    $("#btn-follow").remove();
                    $("#profile-btns").append('<button id="btn-unfollow" class="btn btn-style-1" style="width: 100px">Following</button>');
                    set_buttons();
                });
            });

            $("#btn-unfollow").on('click', function() {
                $.ajax({
                    'url': '{{ url_for('api.unfollow_user', to_unfollow_id=user["id"]) }}',
                    'type': 'DELETE'
                }).done(function(data) {
                    $("#btn-unfollow").remove();
                    $("#profile-btns").append('<button id="btn-follow" class="btn btn-style-2" style="width: 100px">Follow</button>');
                    set_buttons();
                });
            });

            $("#btn-unfollow")
                .mouseover(function() {
                    $(this).text("Unfollow");
                })
                .mouseout(function() {
                    $(this).text("Following");
                });

        }

        var followings_app = new Vue({
            el: "#followings_app",
            data: {
                followings: [],
                cur_user_id: "{{ current_user.get_id() }}"
            },
            methods: {
                loadFollowings: function() {
                    $.ajax({
                        url: "{{ url_for('api.get_followings', id=user.id) }}",
                        type: 'GET'
                    }).done(data => {
                        this.followings = data.followings;
                        console.log(this.followings);
                    });
                },
                toggleFollow: function(follow_item) {
                    if (follow_item.isFollowing) {
                        $.ajax({
                            url: "../../api/v1.0/users/" + follow_item.id + "/unfollow",
                            type: 'DELETE'
                        }).done(data => {
                            follow_item.isFollowing = false;
                        });
                    } else {
                        $.ajax({
                            url: "../../api/v1.0/users/" + follow_item.id + "/follow",
                            type: 'POST'
                        }).done(data => {
                            follow_item.isFollowing = true;
                        });
                    }
                }
            }
        });
        $(document).ready(function() {
            set_buttons();
            followings_app.loadFollowings();
        })
    </script>
{% endblock scripts %}