// main: main.less

button:focus {
	outline: none !important;
}

.btn {
	border-radius: 5px;
}

.btn-style-1 {

	background-color: @stratos;
	border: 2px solid @stratos;
	color: @white;
	transition: all 0.5s ease;

	&:hover {
		background-color: @victoria;
		border-color: @victoria;
		color: @white;
	}

	&:active {
		background-color: @victoria;
		border-color: @victoria;
		color: @white;
	}

	&:focus {
		background-color: @victoria;
		border-color: @victoria;
		color: @white;
	}

}

.btn-style-2 {

	background-color: @white;
	border: 2px solid @stratos;
	color: @stratos;
	transition: all 0.5s ease;

	&:hover {
		border-color: @victoria;
		background-color: @victoria;
		color: @white;
	}

	&:active {
		border-color: @victoria;
		background-color: @victoria;
		color: @white;
	}

	&:focus {
		border-color: @victoria;
		background-color: @victoria;
		color: @white;
	}

}

.btn-style-3 {

	background-color: @jaffa;
	border: 2px solid @jaffa;
	color: @white;
	transition: all 0.5s ease;

	&:hover {
		background-color: @pizazz;
		border-color: @pizazz;
		color: @white;
	}

	&:active {
		background-color: @pizazz;
		border-color: @pizazz;
		color: @white;
	}

	&:focus {
		background-color: @pizazz;
		border-color: @pizazz;
		color: @white;
	}

}

.btn-style-4 {

	background-color: @white;
	border: 2px solid @jaffa;
	color: @jaffa;
	transition: all 0.5s ease;

	&:hover {
		border-color: @pizazz;
		background-color: @pizazz;
		color: @white;
	}

	&:active {
		border-color: @pizazz;
		background-color: @pizazz;
		color: @white;
	}

	&:focus {
		border-color: @pizazz;
		background-color: @pizazz;
		color: @white;
	}

}