// main: main.less

.group-box {
	width: 100%;
	height: 100%;
	background-color: #fff;
	padding: 0px 10px 20px 10px;
	border-bottom: 3px solid #0e0058;

	h3 {
		margin: 0;
		padding: 20px 10px 0 10px;
		color: #000;
	}

	hr {
		margin: 20px 0 10px 0;
		border-top: 2px solid #ddd;
	}
}

.group-card {
	height: 250px;
	padding: 10px;

	.group-panel {

		background-position: center center;
		border: 1px solid #ccc; 
		width: 100%;
		height: 100%;
		border-radius: 5px;
		text-align: center;

		.group-img {
			background-color: rgba(0,0,0,0.8);
			height: 70%;
			text-align: center;
			//padding: 20px;
			overflow: hidden;
			.img-icon {
				border-radius: 50%;
				border: 3px solid #fff;
				background-color: #fff;
			}
		}

		.group-desc {
			background-color: #fff;
			height: 30%;
			padding: 15px;
			h4 {
				margin: 0;
			}
			p {
				color: #888;
			}
		}


	}

}

.group-create-btn {
	text-decoration: none;
}

.group-card-img {
	height: 100%; 
	width: 100%; 
	min-width: 100%;
}

.group-card-icon {
	z-index: 5; 
	margin-top: -180px;
}

.group-modal-img {
	min-height: 100%;
}

.group-modal-icon {
	position: absolute; 
	top: 25px; 
	margin-left: -100px;
}

.left-pad {
	border: none;
}

.right-pad {
	padding: 20px 15px 10px 15px;
}

.manage-group-link {
	padding: 4px 8px; 
	font-size: 15px;
}

.group-members-tab {
	padding-bottom: 30px;
}

.group-members-panel {
	padding-bottom: 30px;
}

.no-members-tab {
	padding-left: 10px;
}

.group-activity-card {
	height: 160px; 
	border-radius: 5px; 
	border: 1px solid #d0d0d0;
	.group-activity-inner-con {
		height: 70%; 
		overflow: hidden;
	}
}

.activity-filter-marker {
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%); 
	min-height: 100%; 
	max-width: 100%; 
	border-radius: 5px 5px 0 0;
}

.activity-marker-icon {
	color: green; 
	font-size: 35px; 
	position: absolute; 
	top: 5px; 
	right: 15px;
}

.not-done-activity {
	min-height: 100%; 
	max-width: 100%; 
	border-radius: 5px 5px 0 0;
}

.group-activity-title {
	height: 30%; 
	padding: 7px;
}