// main: main.less

.modal-header {
	color: @shaft;
}

.modal-body {

	margin: 0;
	padding: 0;

	.img-container {

		height: 250px; 
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
		}

	}

	h2 {
		padding: 20px 15px 10px 15px;
		margin: 0;
	}

	.content {

		padding: 0 15px;
		width: 100%;

		li {

			text-align: center;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden; 

			&.act-li {
				width: 25%;
			}

			&.grp-li {
				width: 33%;
			}

		}

		.nav-tabs {
			border-bottom: 2px solid @alto;
		}

		/*.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
			border-width: 0;
        }*/

	    .nav-tabs > li > a { 
			border: none; 
			color: @kimberly; 
		}

		.nav-tabs > li.active > a, .nav-tabs  > li > a:hover { 
			border: none; 
			color: @stratos !important; 
			background: transparent; 
		}

		.nav-tabs > li > a::after { 
			content: ""; 
			background: @stratos; 
			height: 3px; 
			position: absolute; 
			width: 100%; 
			left: 0px; 
			bottom: -1px; 
			transition: all 250ms ease 0s; 
			transform: scale(0);
		}

		.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { 
			transform: scale(1); 
		}

		.tab-nav > li > a::after { 
			color: @white; 
		}

		.tab-pane { 
            padding: 0;
        }

        .tab-content{
			padding: 15px;
			height: 200px;
			overflow: auto;
		}

	}

}


