// main: main.less

input[type=text], input[type=password], input[type=email], input[type=date], input[type=number], textarea {
	
	font-family: @body-font;	
	border-radius: 4px;
	transition: all 200ms ease;
	outline: 0;

	&:hover {
		border: 1px solid @kimberly;
	}

	&:active {
		outline: 0;
		border: 1px solid @stratos;

	}

	&:focus {
		outline: 0;
		border: 1px solid @stratos;
		box-shadow: 0;
	}

}