// main: main.less

.row {
	margin: 0;
	padding: 0;
}

// Top Navigation

.nav {
	>li {
		background-color: none;
		>a {
			font-family: @heading-font;
			font-size: 15px;
			background-color: none;
			transition: color 0.3s ease;
		}
	}
}

.navbar-default .navbar-nav>li>a:hover {
	color: #0e0058;
}

.navbar-default {
	border-radius: 0;
	border-top: 3px solid #fd8103;
	border-bottom: 3px solid #0e0058;
}

.fixed-nav{ 
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999; 
}

.navbar-header, .navbar-collapse {
	background-color: #fff;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
  	text-align: center;
}

.navbar-default .navbar-nav>li>a.active {
	color: #0e0058;
}

button.navbar-toggle.collapsed, button.navbar-toggle {
	border:  0;
}

button.navbar-toggle.collapsed:active, 
button.navbar-toggle:active, 
button.navbar-toggle.collapsed:focus, 
button.navbar-toggle:focus {
	background-color: #fff;
}

#top {
	height: 45; 
	background-color: #fd8103;
}

// Side bar navigation

.side {
	padding: 0 0 0 20px;
	margin-bottom: 20px;
}

.side-nav {
	background-color: #fff;
}

.hidden-xs {
	border-bottom: 3px solid #0e0058;
}

.nav>li>a {
	color: #777777;
	small {
		padding-left: 15px;
	}
}

.nav>li>a:hover {
	color: #0e0058;
	background-color: #fff;
}

.content-wrap {
	padding: 0 10px;
	margin-bottom: 20px;
}

.project-bg {
	width: 100%;
	text-align: center;
	background-image: url('../../static/images/building.png');
	background-size: cover;
	background-position: top;
	/*border-bottom: 5px solid @pizazz;*/
}

.project-logo {
	padding: 20%;
}

.white-filter {
	background-color: rgba(253, 129, 3, 0.2);
	/*background-color: rgba(14, 0, 88, 0.3);*/
}

// Footer

footer {
	height: 150px; 
	background-color: #2c2c2c;
	a {
		color: @white;
	}
}

// Logout modal

.modal-body {
	p {
		margin: 0; 
		padding: 20px;
	}
}

.modal-footer {
	div {
		width: 50%;
	}
}