// main: main.less

.title {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden; 
}

.box-header {

	/*margin-top: 50px;*/
	margin-bottom: 15px;
	height: 65px;
	line-height: 65px;
	color: @white;
	font-family: @heading-font;

	> span {
		  display: inline-block;
		  vertical-align: middle;
		  line-height: normal;
		  font-size: 25px;
		  letter-spacing: 5px;
	}

}

.box-footer {
	margin-bottom: 40px;
}

.box-style-1 {
	background-color: @jaffa;
}

.box-style-2 {
	background-color: @stratos;
}

.box-content {
	margin-bottom: 50px; 
	background-color: @white;
	padding: 50px 20px 10px;
}

.border-bottom-1 {
	border-bottom: solid 5px @jaffa;
}

.border-bottom-2 {
	border-bottom: solid 5px @stratos;
}

.no-content-box {
	height: 300px;
	line-height: 300px;
	font-family: @body-font;
	color: @alto;
}