// main: main.less

.modal-header {
	color: @shaft;
}

.modal-content {
	border-radius: 0;
}

.modal-body {

	margin: 0;
	padding: 0;

	.img-container {

		height: 250px; 
		overflow: hidden;
		text-align: center;

		img {
			width: 100%;
			height: auto;
		}

		.grp-icon-img {
			height: 200px; 
			width: 200px; 
			background-color: #fff; 
			border: 5px solid #fff; 
			margin-top: 25px;
		}

	}

	h2 {
		padding: 20px 15px 10px 15px;
		margin: 0;
	}

	.content {

		padding: 0 15px;
		width: 100%;

		li {

			text-align: center;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden; 

			&.grp-li, &.act-li {
				width: 33%;
			}

		}

		.nav-tabs {
			border-bottom: 2px solid @alto;
		}

		/*.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
			border-width: 0;
        }*/

	    .nav-tabs > li > a { 
			border: none; 
			color: @kimberly; 
		}

		.nav-tabs > li.active > a, .nav-tabs  > li > a:hover { 
			border: none; 
			color: @stratos !important; 
			background: transparent; 
		}

		.nav-tabs > li > a::after { 
			content: ""; 
			background: @stratos; 
			height: 3px; 
			position: absolute; 
			width: 100%; 
			left: 0px; 
			bottom: -1px; 
			transition: all 250ms ease 0s; 
			transform: scale(0);
		}

		.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { 
			transform: scale(1); 
		}

		.tab-nav > li > a::after { 
			color: @white; 
		}

		.tab-pane { 
            padding: 0;
        }

        .tab-content{
			padding: 15px;
			height: 200px;
			overflow: auto;
		}

	}
/*
	.search-panel {
		
		background-color: @white;
		//border-top: 2px @kimberly solid;
		border-bottom: 2px @alto solid;
		padding: 15px;

		input[type=text] {
			height: 36px;
			line-height: 26px;
			font-size: 15px;
		}

	}

	.search-content {
		
		height: 400px;
		overflow: auto;

		.search-item {

			background-color: @white;
			height: 100px;
			border-bottom: 1px @alto solid;
			padding: 10px;
			transition: background-color 200ms ease;
			width: 100%;
			cursor: pointer;

			&:hover {
				background-color: @mystic;
			}

			.item-img {

				margin:0;
				width: 20%;
				height: 80px;
				overflow: hidden;
				float: left;

				img {
					max-height: 100%;
				}

			}

			.item-desc {

				text-align: left;
				width: 70%;
				float: left;
				padding: 20px 0 0 20px;

				h4 {
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden; 
				}

			}

		}

	}
*/
}