// main: main.less

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: @mystic;
	width: 100%;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: @heading-font;
}

p{
	font-family: @body-font;
	font-size: 15px;
}

a {
	text-decoration: none;
	font-family: @body-font;
	transition: color 5s ease;
}

img {
	padding: 0;
}

button {
	font-family: @body-font;
}