{% extends "/layout/admin_base.html" %}

{% block title %} Activities {% endblock %}

{% block content %}
    <div class="row admin-page">
        <div class="row">
            <div class="col-md-12 no-padding">
                <h1>Activities</h1>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-sm-6" style="padding: 20px 0px">
                <form>
                    <div class="input-group search-form">
                      <input type="text" class="form-control" name="query" placeholder="Search Activities" value="{% if query %}{{ query }}{% endif %}">
                      <span class="input-group-btn">
                        <input type="submit" class="btn" type="button" value="Search" />
                      </span>
                    </div>
                    <div class="col-md-12 no-padding date-filter">
                        <span>From:</span> 
                        <input type="text" id="datepicker_start" placeholder="Start Date" name="start_date" value="{% if start_date %}{{ start_date }}{% endif %}" />
                        <span>To:</span> 
                        <input type="text" id="datepicker_end" placeholder="End Date" name="end_date" value="{% if end_date %}{{ end_date }}{% endif %}" />
                    </div>
                    {% if query %}
                        <br /><br />
                        <h4 style="padding-top: 15px;">Search Results for "{{ query }}".
                            <a href="{{ url_for('admin.activities') }}" class="label btn-style-3">Return to List</a>
                        </h4>
                    {% endif %}
                </form>
            </div>
            <div class="col-sm-6 text-right pagination">
                {% if activities.has_prev %}
                    <a class="page-link btn btn-sm btn-style-3" href="{{ url_for('admin.activities', page=activities.prev_num, query=request.args.get('query')) }}">Prev</a>
                {% endif %}
                  {%- for page in activities.iter_pages(left_edge=1, left_current=2, right_current=2, right_edge=1) %}
                    {% if page %}
                      {% if page != activities.page %}
                        <a class="page-link btn btn-sm btn-style-3" href="{{ url_for('admin.activities', page=page, query=request.args.get('query')) }}">{{ page }}</a>
                      {% else %}
                        <strong class="btn current-page">{{ page }}</strong>
                      {% endif %}
                    {% else %}
                      <span class=ellipsis>…</span>
                    {% endif %}
                  {%- endfor %}
                {% if activities.has_next %}
                    <a class="page-link btn btn-sm btn-style-3" href="{{ url_for('admin.activities', page=activities.next_num, query=request.args.get('query')) }}">Next</a>
                {% endif %}
            </div>
        </div>

        <div class="row">
            {% for activity in activities.items %}
                <div class="col-md-3 no-padding">
                    <div class="activity-card"
                    style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{url_for('static',filename='uploads/activity_images/' + activity.image) }})">
                        <div>
                            <h3><strong>{{ activity['title'] }}</strong></h3>
                            <!-- <h6>{{ activity['description'] }}</h6> -->
                            <h6><i>{{ activity['start_date']}} - {{ activity['end_date']}}</i></h6>
                        </div>
                        <a class="btn btn-block btn-style-3" href="{{ url_for('admin.edit_activity', id=activity['id']) }}">
                            Edit Activity
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    
        {% if activities.items|length == 0 %}
        <div class="row">
            <div class="col-md-12 no-padding">
                <h3>No Activities found.</h3>
                <hr />
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-sm-12 text-center pagination">
                {% if activities.has_prev %}
                    <a class="page-link btn btn-sm btn-style-3" href="{{ url_for('admin.activities', page=activities.prev_num, query=request.args.get('query')) }}">Prev</a>
                {% endif %}
                  {%- for page in activities.iter_pages(left_edge=1, left_current=2, right_current=2, right_edge=1) %}
                    {% if page %}
                      {% if page != activities.page %}
                        <a class="page-link btn btn-sm btn-style-3" href="{{ url_for('admin.activities', page=page, query=request.args.get('query')) }}">{{ page }}</a>
                      {% else %}
                        <strong class="btn current-page">{{ page }}</strong>
                      {% endif %}
                    {% else %}
                      <span class=ellipsis>…</span>
                    {% endif %}
                  {%- endfor %}
                {% if activities.has_next %}
                    <a class="page-link btn btn-sm btn-style-3" href="{{ url_for('admin.activities', page=activities.next_num, query=request.args.get('query')) }}">Next</a>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}
{% block scripts %}
<script>
    {% if start_date %}
        var picker_start = new Pikaday({ field: document.getElementById('datepicker_start'),
            defaultDate: "{{ start_date }}"
        });
    {% else %}
        var picker_start = new Pikaday({ field: document.getElementById('datepicker_start') });
    {% endif %}
    var picker_end = new Pikaday({ field: document.getElementById('datepicker_end') });
</script>
{% endblock scripts %}