{% extends "/layout/admin_base.html" %}
{% from 'components/admin-activity-card.html' import activity_card %}
{% from 'components/admin-pagination.html' import pagination %}

{% block title %} Activities {% endblock %}

{% block content %}
    <div class="row admin-page">
        <div class="row">
            <div class="col-md-12 no-padding">
                <h1>Activities</h1>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-sm-6" style="padding: 20px 0px">
                <form>
                    <div class="input-group search-form">
                      <input type="text" class="form-control" name="query" placeholder="Search Activities" value="{% if query %}{{ query }}{% endif %}">
                      <span class="input-group-btn">
                        <input type="submit" class="btn" type="button" value="Search" />
                      </span>
                    </div>
                    <div class="col-md-12 no-padding date-filter">
                        <span>From:</span> 
                        <input type="text" id="datepicker_start" placeholder="Start Date" name="start_date" value="{% if start_date %}{{ start_date }}{% endif %}" />
                        <span>To:</span> 
                        <input type="text" id="datepicker_end" placeholder="End Date" name="end_date" value="{% if end_date %}{{ end_date }}{% endif %}" />
                    </div>
                    {% if query %}
                        <br /><br />
                        <h4 style="padding-top: 15px;">Search Results for "{{ query }}".
                            <a href="{{ url_for('admin.activities') }}" class="label btn-style-3">Return to List</a>
                        </h4>
                    {% endif %}
                </form>
            </div>
            <div class="col-sm-6 text-right pagination">
                {{ pagination(activities, 'admin.activities') }}
            </div>
        </div>

        <div class="row">
            {% for activity in activities.items %}
                {{ activity_card(activity) }}
            {% endfor %}
        </div>
    
        {% if activities.items|length == 0 %}
        <div class="row">
            <div class="col-md-12 no-padding">
                <h3>No Activities found.</h3>
                <hr />
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-sm-12 text-center pagination">
                {{ pagination(activities, 'admin.activities') }}
            </div>
        </div>

    </div>
{% endblock %}
{% block scripts %}
<script>
    {% if start_date %}
        var picker_start = new Pikaday({ field: document.getElementById('datepicker_start'),
            defaultDate: "{{ start_date }}"
        });
    {% else %}
        var picker_start = new Pikaday({ field: document.getElementById('datepicker_start') });
    {% endif %}
    var picker_end = new Pikaday({ field: document.getElementById('datepicker_end') });
</script>
{% endblock scripts %}