{% extends "/layout/admin_base.html" %}

{% block content %}
    <form class="form-group row edit-activity" method="post" enctype="multipart/form-data" name="edit_activity">

        <div class="row">
            <div class="col-md-12">
                <h1 class="title">Edit Activity</h1>
            </div>
        </div>

        <div class="col-md-6" style="padding: 0px">
            <div class="row">
                <div class="col-md-12 admin-card">
                    {{ form.hidden_tag() }}
                    <label>Title</label>
                    {{ form.title(
                        placeholder="Title",
                        class="form-control input-lg lead") }}
                    
                    <label>Description</label>
                    {{ form.description(
                        placeholder="Description",
                        class="form-control input-md") }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 admin-card">
                    <label>Start Date</label>
                    {{ form.start_date(
                        placeholder="Start Date",
                        class="form-control input-lg")}}
                </div>

                <div class="col-md-6 admin-card">
                    <label>End Date</label>
                    {{ form.end_date(
                        placeholder="End Date",
                        class="form-control input-lg")}}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 admin-card">
                    <label>Address</label>
                    {{ form.address(
                        placeholder="Address",
                        class="form-control"
                    )}}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 admin-card">
                    <label>Assign to Group</label>
                    {{ form.group(
                        placeholder="Select Group",
                        class="form-control"
                    )}}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <br /><br />
                    <input class="btn btn-default" type="reset">
                    {{ form.submit(
                        placeholder="Submit",
                        class="btn btn-style-1"
                    )}}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <label>Image:</label>
            <div class="img-container">
                <img src="{{ url_for('static', filename='uploads/activity_images/' + activity.image)}}" />
            </div>
            {{ form.image() }}
        </div>

    </form>
{% endblock %}