{% if 'admin' in request.path %}
    {% extends "/layout/admin_base.html" %}
{% else %}
    {% extends "/layout/base.html" %}
{% endif %}

{% block content %}
    <div class="row">
        <form class="form-group col-md-12" method="post" name="create_user">
            <h3><span class="fa fa-user-circle"></span>Create User</h3>
            {{ form.hidden_tag() }}

            <div class="row">
                <div class="col-md-4">
                    <label>Firstname</label>
                    {{ form.firstname(
                    placeholder="First name",
                    class="form-control") }}
                </div>
                <div class="col-md-4">
                    <label>Middlename</label>
                    {{ form.firstname(
                    placeholder="Middle name",
                    class="form-control") }}
                </div>
                <div class="col-md-4">
                    <label>Lastname</label>
                    {{ form.firstname(
                    placeholder="Last name",
                    class="form-control") }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label>Department</label>
                    {{ form.department(
                        placeholder="Department",
                        class="form-control"
                    )}}
                </div>
                <div class="col-md-6">
                    <label>Position</label>
                    {{ form.position(
                        placeholder="Position",
                        class="form-control"
                    )}}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label>Email</label>
                    {{ form.email(
                        placeholder="Email",
                        class="form-control") }}
                </div>
                <div class="col-md-6">
                    <label>Birthday</label>
                    {{ form.birthday(
                        placeholder="Birthday",
                        class="form-control")}}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label>Password</label>
                    {{ form.password(
                        placeholder="Password",
                        class="form-control")}}
                </div>
                <!-- Used JS to check if password matches -->
                <div class="col-md-6">
                    <label>Confirm Password</label>
                    <input class="form-control" placeholder="Confirm password">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                {{ form.submit(
                    placeholder="Submit",
                    class="form-control btn-success"
                )}}
                </div>
            </div>
        </form>
    </div>
{% endblock %}