#search_input {
    height: 30px;
    border: 1px solid #fd8103;
    padding: 6px 8px;
    font-size: 15px;
    line-height: 15px;
}

#search_input:hover, #search_input:active, #search_input:focus {
    border: 1px solid #fd8f0f;
    outline: none;
}

.search-btn, .search-btn:active {
    background-color: #fd8103;
    color: #fff;
    height: 30px;
    padding: 3px 10px;
}

.search-btn:hover {
    background-color: #fd8f0f;
    color: #fff;
}

.search-input-group {
    width: 200px;
    padding: 10px 0;
    margin-right: 10px;
    height: 30px;
}


/* Seach page */
#search_page .active_tab {
    border-bottom: 3px solid #fd8103 !important;
    font-size: 100px !important;
    color: #fd8103;
}

#search_page .active_tab a {
    color: #fd8103;
    font-weight: "900" !important;
}

#search_page .user-result {
    padding: 10px;
}
/* End of search page */

.no-padding {
    padding: 0px !important;
}

.no-padding-left {
    padding-left: 0px;
}

.no-padding-right {
    padding-right: 0px;
}   

#wrong-password {
    color: red;
    margin-top: 10px;
}

#correct-password {
    color: green;
    margin-top: 10px;
}

.circle-img-sm {
    width        : 50px;
    height       : 50px;
    border-radius: 25px;
    object-fit: cover;
}

.activity-form .img-upload {

}

.activity-form .img-upload img {
    position: relative;
    width: 300px;
    height: 400px;
    border: 5px solid rgba(0, 0, 0, 0.2);
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
}

.activity-form .img-upload .text {
    position: absolute;
    left: 2;
    top: 45%;
    width: 97%;
    text-align: center;
}

.activity-form .img-upload input {
    display: none;
}



/* membership-request */
.membership-requests {
    background-color: white;
}

.request-item span {
    font-size: 20px;
    font-family: 'Roboto Condensed Bold';
}

.request-item img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

/*------ EDIT GROUP -------------*/
.edit-group {
    background-color: white;
    padding: 20px;
}

#change-group-cover-btn {
    position: absolute;
    top: 87%;
    left: 2%;
    cursor: pointer;
    z-index: 2;
}

#preview-group-icon {
    cursor: pointer;
    background-color: gray;
}

.edit-group .group-icon span {
    cursor: pointer;
    position: absolute;
    top:70%;
    left: 42.5%;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.cover-photo {
    height: 250px;
}

.cover-photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.group-icon {
    padding: 10px;
    position: absolute;
    top: 175px;
}

.group-icon img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100px;
    border: 3px solid white;
}

/***--- GROUP MEMBERS ***----*/
.members-list h3 {
    font-family: 'Roboto Condensed Bold';
    cursor: pointer;
}

.members-list .dropdown a {
    font-family: 'Roboto Condensed Bold';
    font-size: 18px;
    cursor: pointer;
}

.members-list .dropdown a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
/***--- END OF GROUP MEMBERS ****/
/*------ END OF EDIT GROUP -------------*/


/* ------- START CREATE/EDIT ACTIVITY ------- */
#dpStartDate {
    background-color: white;
}

#dpEndDate {
    background-color: white;
}



/* ------- END OF CREATE/EDIT ACTIVITY -------- */


/* HOME */

.feed-item {
    background-color: #fff;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 7px;
    height: 300px;
}

.feed-item .user-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.feed-item .group-icon {
    max-width: 300px;
    max-height: 100px;
    border: 1px solid gray;
}

.feed-item .group-item {
    border-radius: 10px;
}

.feed-item .group-about {
    border: 1px solid black;
}

/* HOME END */


/*** ACTIVITY PAGE ***/

.activity-page {
    background-color: white;
}

.activity-page .activity-header {
    background-size: cover;
    font-weight: bold !important;
    padding: 20px;
    height: 300px ;
    color: white;
}

.activity-page .activity-header h2 {
    font-weight: 900 !important;
}

.activity-page .activity-header h5 {
    color: #fd8103 !important;
}

.activity-page .activity-header img {
    width: 270px;
    height: 400px;
    object-fit: cover;
    border-radius: 2px;
}

.activity-page .activity-about {
    min-height: 150px;
    margin-top: 50px;
}

.activity-page .activity-about h3 {
    color: #fd8103;
}

.popover {
    width: 300px !important;
}

/**** END OF ACTIVITY PAGE ***/