table.users th {
    background-color: #ef7c3d;
    font-family: 'Lato';
    font-size: 16px;
    color: white;
    height: 40px;
}

table.users td {
    font-family: 'Lato';
    font-size: 13px !important;
    border-bottom: 1px solid white;
    padding: 8px !important;
}

.user-table-item td {
    vertical-align: middle !important;
}

.user-table-item .fa {
    font-size: 20px;
    margin: 3px;
    color: #0e0058;
}

.activity-card {
    background-color: white;
    height: 250px !important;
    padding: 5px 10px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    border-left: 1px solid white;
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
/*    border-radius: 2px;*/
}

.activity-card div {
    height: 180px;
}

.circle-img-sm {
    width        : 50px;
    height       : 50px;
    border-radius: 25px;
}


.form-page label {
    font-family: 'Roboto Condensed Bold';
    font-size: 14px;
}

.form-page input[type='text'], .form-page input[type='password'],
.form-page input[type='email'], .form-page input[type='date'],
.form-page select, .form-page textarea,
.form-page input[type='number']
.form-control {
    border-radius: 0px !important;
    margin-bottom: 10px;
}

.form-page .trumbowyg-box {
    margin-top: 0px;
}