table.users th {
    background-color: #ef7c3d;
    font-family: 'Lato';
    font-size: 16px;
    color: white;
    height: 40px;
}

table.users td {
    font-family: 'Lato';
    font-size: 13px !important;
    border-bottom: 1px solid white;
    padding: 8px !important;
}

.user-table-item td {
    vertical-align: middle !important;
}

.user-table-item .fa {
    font-size: 20px;
    margin: 3px;
    color: #0e0058;
}