html, body {
    height: 100% !important;
    background-color: white;
}

.admin-header {
/*    background-color: #ef7c3d;
    padding: 1px;
    width: 100vw !important;
    position: absolute;
    left: -18px;*/
}

.admin-header .signout {
    width: 200px;
}

hr {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 10px;
}

.row {
    width: 100%;
}

/*[class*="col-"] {
    padding: 0px;
}*/

.no-padding {
    padding: 0px !important;
}

.no-padding-left {
    padding-left: 0px;
}

.no-padding-right {
    padding-right: 0px;
}

input[type='text'], input[type='password'],
input[type='email'], input[type='date'],
.form-control {
    border-radius: 0px;
/*    margin: 10px;*/
/*    max-width: 90%;*/
}

.circle-img-sm {
    width        : 50px !important;
    height       : 50px !important;
    border-radius: 25px !important;
}


.side-bar {
    /*background-color: #0e0058;*/
    min-height: 100vh;
    height: 100%;
    font-family: "Lato";
    padding: 5px 20px;
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
    flex: 1;
}

.form-control {
    margin-bottom: 10px;
}

label {
    font-family: 'Roboto Condensed Bold';
    font-size: 14px;
    /*color: #0e0058;*/
}

.input-lg {
    font-size: 24px;
    padding: 10px;
    font-weight: 900;
}

.input-

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato";
}

.btn-sidebar {
    /*background-color: #0e0058;*/
    width: 90%;
    height: 35px;
    text-align: left;
    font-size: 14px;
    padding: 5px 10px;
    display: flex;
    align-items: center; /* align vertical */
    transition: none;
    text-decoration: none !important;
    border-radius: 5px;
    font-family: "Roboto Condensed Bold";
}

#btn-signout {
    background-color: #ef7c3d;
    text-decoration: none;
    padding: 5px 10px;
    color: white;
}

.side-bar h5 {
    color: #ef7c3d;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.btn-sidebar:hover {
    color: black !important;
    transition: none;
}

.btn-sidebar.active {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: white !important;
    transition: 0s;
}

.side-bar .pub-logo {
    height: 50px;
    margin-bottom: 0px;
}

.admin-form {
    /* 
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-top: 2px solid #ef7c3d;
    border-radius: 2px;
    */
    padding: 0px 20px;
}

.admin-form h1 {
    font-family: "Roboto Condensed Bold";
    color: #ef7c3d;
    font-weight: 100;
}

.admin-form input[type=reset] {
    padding: 8px 15px !important;
    margin-right: 10px;
}

/* ----------------------------- */
.admin-page .user-card {
    /*margin: 5px;*/
    background-color: white;
    height: 100px;
    padding: 5px 10px;
    border-radius: 3px;
    /*border-right: 3px solid #ef7c3d;*/
    margin-bottom: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.admin-page .user-card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.admin-page h1 {
    font-family: "Roboto Condensed Bold";
    color: #ef7c3d;
}

.user-list .col-md-3 {
    margin: 0px;
    padding: 0px;
}

.admin-page .activity-card {
    background-color: white;
    height: 250px;
    padding: 5px 10px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    border-left: 1px solid white;
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
/*    border-radius: 2px;*/
}

.admin-page .activity-card div {
    height: 180px;
}

.admin-page .group-card {
    background-color: white;
    height: 300px;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.admin-page .group-card img {
    width: 100%;
    height: 150px;
}

.admin-page .group-card div {
    height: 75px;
}

.edit-activity img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.edit-group img {
    height: 100%;
    width: 100%;
    object-fit: cover;
/*    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
}

.edit-group .cover-container {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

#change-group-cover-btn {
    position: absolute;
    top: 87%;
    left: 2%;
    cursor: pointer;
    z-index: 2;
}

#preview-group-icon {
    cursor: pointer;
    background-color: gray;
}

.edit-group .group-icon span {
    cursor: pointer;
    position: absolute;
    top:70%;
    left: 42.5%;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.img-container {
    height: 300px;
    width: 300px;
    margin-bottom: 10px;
}

.title {
    color: #ef7c3d;
}

.cover-photo {
    height: 250px;
}

.cover-photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.group-icon {
    padding: 10px;
    position: absolute;
    top: 175px;
}

.group-icon img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100px;
    border: 3px solid white;
}

.group-controls {
    padding: 10px;
}

.pagination .current-page {
    border: 2px solid white;
    background-color: white;
}

table.users th {
    background-color: #ef7c3d;
    font-family: 'Lato';
    font-size: 16px;
    color: white;
    height: 40px;
}

table.users td {
    font-family: 'Lato';
    font-size: 13px !important;
    border-bottom: 1px solid white;
    padding: 8px !important;
}

.search-form input[type=submit] {
    background-color: #0e0058;
    color: white;
}

.user-table-item td {
    vertical-align: middle !important;
}

.user-table-item .fa {
    font-size: 20px;
    margin: 3px;
    color: #0e0058;
}

.trumbowyg-box {
    margin-top: 0px !important;
}

.wysiwyg-editor {
    background-color: white;

}

.hidden {
    display: none;
}


/* ------------------------------ */
.activity-form .img-upload {

}

.activity-form .img-upload img {
    position: relative;
    width: 300px;
    height: 400px;
    border: 5px solid rgba(0, 0, 0, 0.2);
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
}

.activity-form .img-upload .text {
    position: absolute;
    left: 2;
    top: 45%;
    width: 97%;
    text-align: center;
}

.activity-form .img-upload input {
    display: none;
}

/* ------------------------------ */
.user-form .img-upload {

}

.user-form .img-upload img {
    position: relative;
    width: 250px;
    height: 250px;
    border: 5px solid rgba(0, 0, 0, 0.2);
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
}

.user-form .img-upload .text {
    position: absolute;
    left: 1;
    top: 45%;
    width: 95%;
    text-align: center;
}

.user-form .img-upload input {
    display: none;
}

.date-filter {
    font-size: 13px;
    margin-top: 10px;
}

.date-filter span {
    font-weight: bold;
    font-family: "Roboto Condensed Bold";
}

.date-filter input, .date-filter input:hover {
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
}

/***--- GROUP MEMBERS ***----*/
.members-list h3 {
    font-family: 'Roboto Condensed Bold';
    cursor: pointer;
}

.members-list .dropdown a {
    font-family: 'Roboto Condensed Bold';
    font-size: 18px;
    cursor: pointer;
}

.members-list .dropdown a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
/***--- END OF GROUP MEMBERS ****/