{% extends "./layout/client_base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12 out-wrapper">     
            <div class="welcome-note">
                <div class="text-center welcome-pad">
                    <h3>Welcome to <b>UBP: Pub</b></h3>
                    <hr/>
                    <h4>See stories from co-workers here in your Actions Feed.<br/>
                        <small>Start by connecting with your co-workers on Pub</small>
                    </h4>
                </div>
            </div>
                

            {% raw %}
            <div id="app">

                <div class="row">

                    <div v-for="feed in sorted_feeds">

                        <div class="col-md-6 feed-wrapper">
                            <div class="feed-box">
                                
                                <template v-if="feed.type === 'new_group'">
                                    <div class="new-group-cover">
                                        <img :src="'/static/uploads/covers/420x150/' + feed.cover_photo">
                                    </div>
                                    <div class="text-center new-group-icon-wrapper">
                                        <a :href="'/groups/' + feed.id" :title="'View ' + feed.name">
                                            <img :src="'/static/uploads/group_icons/100x100/' + feed.group_icon" class="img-circle">
                                        </a>
                                    </div>
                                    <div class="text-center new-group-desc">
                                        <a :href="'/groups/' + feed.id" :title="'View ' + feed.name">
                                            <h4 class="title"><b>{{ feed.name }}</b></h4>
                                        </a>
                                        <h4 v-if="feed.about" class="title"><small>{{ feed.about }}</small></h4>
                                        <h4 v-else class="title"><small><i>Group has no description</i></small></h4>
                                        <hr/>
                                        <a :href="'/groups/' + feed.id" :title="'View ' + feed.name">
                                            <span class="check-this-out"><b>Check this awesome new group!</b><span>
                                        </a>
                                        <span class="timestamp-wrapper"><h6><small>{{feed.timestamp}}</small></h6></span>
                                    </div>
                                </template>
                                <template v-else-if="feed.type === 'new_activity'">
                                    <div class="new-activity-cover">
                                        <img :src="'/static/uploads/activity_images/420x150/' + feed.activity_image">
                                    </div>
                                    <div class="text-center new-activity-desc">
                                        <a :href="'/activities/' + feed.activity_id" :title="'View ' + feed.activity_title">
                                            <h4 class="title"><b>{{ feed.activity_title }}</b></h4>
                                        </a>
                                        <h5>
                                            <span class="row">
                                                <span class="col-md-5 activity-created-by">Activity created by  &nbsp;</span>
                                                <span class="col-md-2">
                                                    <a :href="'/profile/' + feed.creator_id" class="creator-img-link" :title="feed.firstname + ' ' + feed.lastname">
                                                        <img v-if="feed.user_image" :src="'/static/uploads/profile_pictures/' + feed.user_image"> &nbsp;
                                                        <img v-else :src="'/static/images/pub-default-img.jpg'"  :title="feed.firstname + ' ' + feed.lastname"> &nbsp;
                                                    </a>
                                                </span>
                                                <span class="col-md-5 creator-name-link">
                                                        <a :href="'/profile/' + feed.creator_id" class="title" :title="feed.firstname + ' ' + feed.lastname"> &nbsp;
                                                            {{ feed.firstname }} {{ feed.lastname }}
                                                        </a>
                                                </span>
                                            </span>
                                        </h5>
                                        <hr/>
                                        <a :href="'/activities/' + feed.activity_id" :title="'View ' + feed.activity_title" class="check-this-out-wrapper">
                                            <span class="check-this-out"><b>Check this cool activity!</b><span>
                                        </a>
                                    </div>
                                    <span class="timestamp-wrapper"><h6><small>{{feed.timestamp}}</small></h6></span>
                                </template>
                                <template v-else-if="feed.type === 'new_perk'">
                                    <span class="timestamp-wrapper"><h6><small>{{feed.timestamp}}</small></h6></span>
                                    <div class="perks-header"><h4><b>UNIONBANK PERKS</b></h4></div>
                                    <div class="text-center new-perks-card">
                                        <div class="row perks-inner-card new-perks-inner" data-toggle="modal" :data-target="'#perks-' + feed.id">
                                            <div class="col-md-5 no-padding perks-col-1 new-perks-img-wrapper">
                                                <img :src="'../../static/uploads/perks_images/164x200/' + feed.image"/>
                                            </div>
                                            <div class="col-md-7 perks-col-2 text-left">
                                                <h4 class="title"><strong>{{ feed.title }}</strong></h4>
                                                <div class="perks-desc">
                                                    <p><small><i>Click for description</i></small></p>
                                                </div>
                                                <h5 class="title" class="perks-timestamp"><small>{{ feed.timestamp }}</small></h5>
                                            </div>
                                        </div>
                                        <hr />
                                        <a data-toggle="modal" :data-target="'#perks-' + feed.id" :title="'View ' + feed.title">
                                            <span><b>Toggle to view this new perks!</b><span>
                                        </a>
                                    </div>
                                    <!-- PERKS MODAL -->
                                    <div class="modal fade grp-modal" :id="'perks-' + feed.id" role="dialog">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <!-- HEADER -->
                                                <div class="modal-header">
                                                    <span><b>PERKS</b></span>
                                                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                                                </div>
                                                <!-- BODY -->
                                                <div class="modal-body">

                                                    <div class="row">
                                                        <div class="col-md-5 no-padding perks-modal-body">
                                                            <img :src="'../../static/uploads/perks_images/375x240/' + feed.image"/>
                                                        </div>
                                                        <div class="col-md-7 perks-modal-content">
                                                            <h4 class="title"><strong>{{ feed.title }}</strong></h4>
                                                            <h5 class="title"><small>{{ feed.timestamp }}</small></h5>
                                                            <br/>
                                                            <div class="perks-modal-desc">
                                                                <div v-html="feed.description"></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <!-- FOOTER -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-style-4" data-dismiss="modal">Close</button>
                                                </div> <!-- END OF FOOTER -->

                                            </div>
                                        </div>
                                    </div> <!-- END OF PERKS MODAL -->
                                </template>
                                <template v-else-if="feed.type === 'new_membership'">
                                    <div class="new-group-cover">
                                        <img :src="'/static/uploads/covers/420x150/' + feed.group_cover">
                                    </div>

                                    <div class="text-center new-member-user">
                                        <a :href="'/profile/' + feed.user_id" :title="'View ' + feed.user_firstname">
                                            <img v-if="feed.user_image" :src="'/static/uploads/profile_pictures/' + feed.user_image" class="img-circle">
                                            <img v-else :src="'/static/images/pub-default-img.jpg'" class="img-circle">
                                        </a>
                                    </div>

                                    <div class="text-center new-to-group-icon">
                                        <a :href="'/groups/' + feed.group_id" :title="'View ' + feed.group_name">
                                            <img :src="'/static/uploads/group_icons/100x100/' + feed.group_icon" class="img-circle">
                                        </a>
                                    </div>

                                    <div class="text-center new-member-name">
                                        <h4 class="title text-left">
                                            <a :href="'/profile/' + feed.user_id" :title="feed.user_firstname + ' ' + feed.user_lastname"> {{ feed.user_firstname }} {{ feed.user_lastname }} </a> joins
                                            <a :href="'/groups/' + feed.group_id" :title="'View ' + feed.group_name">
                                                <b>{{ feed.group_name }}</b>
                                            </a>
                                        </h4>

                                        <h4 v-if="feed.about" class="title text-left"><small>{{ feed.group_about }}</small></h4>
                                        <h4 v-else class="title text-left"><small><i>Group has no description</i></small></h4>
                                        <hr/>
                                        <a :href="'/profile/' + feed.user_id" :title="'View ' + feed.group_name">
                                            <span><b>New member of the group!</b><span>
                                        </a>
                                        <span class="timestamp-wrapper"><h6><small>{{feed.timestamp}}</small></h6></span>
                                    </div>
                                </template>                                
                                <template v-else-if="feed.type === 'new_user_activity'">
                                    
                                    <div class="new-activity-cover">
                                        <img :src="'/static/uploads/activity_images/420x150/' + feed.activity_image">
                                    </div>

                                    <div class="text-center new-activity-user">
                                        <a :href="'/profile/' + feed.user_id" :title="'View ' + feed.user_firstname">
                                            <img v-if="feed.user_image" :src="'/static/uploads/group_icons/130x130/' + feed.user_image" class="img-circle">
                                            <img v-else :src="'/static/images/pub-default-img.jpg'" class="img-circle">
                                        </a>
                                    </div>

                                    <h4 class="text-left new-activity-action">
                                        <a :href="'/profile/' + feed.user_id" :title="feed.user_firstname + ' ' + feed.user_lastname"> {{ feed.user_firstname }} {{ feed.user_lastname }} </a> is {{ feed.status }} to
                                        <a :href="'/activities/' + feed.activity_id" :title="'View ' + feed.activity_title">
                                            <b>{{ feed.activity_title }}</b>
                                        </a>
                                    </h4>

                                    <div class="text-center user-activity-footer">
                                        <hr/>
                                        <a :href="'/activities/' + feed.activity_id" :title="'View ' + feed.activity_title" class="check-this-out-wrapper" style="text-decoration: none;">
                                            <span class="check-this-out"><b>Check this out!</b><span>
                                        </a>
                                    </div>
                                    <span class="timestamp-wrapper"><h6><small>{{feed.timestamp}}</small></h6></span>
                                </template>

                            </div>
                        </div>

                    </div>
                    
                </div>
                {% endraw %}
                <div class="row text-center">
                    <img v-show="loading" src="{{ url_for('static', filename='images/spinner.svg') }}">
                </div>
            </div> <!-- end of app -->  

        </div>

    </div>

{% endblock content %}
{% block scripts %}
    <script>

        var vm = new Vue({
            el: '#app',
            data: {
                profile_images_folder: '/static/uploads/profile_pictures/',
                group_modal_icons_folder: '/static/uploads/group_icons/200x200/',
                feeds: [],
                default_user_img: '/static/images/pub-default-img.jpg',
                page: 1,
                loading: false
            },
            methods: {
                loadFeed: function() {
                    this.loading = true;
                    $.ajax({
                        url: "{{ url_for('api.feed') }}" + "?page=" + this.page,
                        type: 'GET'
                    }).done(data => {
                        console.log(data);

                        // Add 'type' on each feed item
                        data.new_activities.forEach((el) => el.type = 'new_activity');
                        data.new_perks.forEach((el) => el.type = 'new_perk');
                        data.new_groups.forEach((el) => el.type = 'new_group');
                        data.new_memberships.forEach((el) => el.type = 'new_membership');
                        data.new_user_activities.forEach((el) => el.type = 'new_user_activity');

                        this.feeds.push.apply(this.feeds, data.new_activities);
                        this.feeds.push.apply(this.feeds, data.new_perks);
                        this.feeds.push.apply(this.feeds, data.new_groups);
                        this.feeds.push.apply(this.feeds, data.new_memberships);
                        this.feeds.push.apply(this.feeds, data.new_user_activities);
                        this.page++;
                        this.loading = false;
                    });
                }
            },
            computed: {
                sorted_feeds: function() {
                    this.feeds.sort( (a, b) => {
                        return new Date(b.timestamp) - new Date(a.timestamp);
                    });
                    return this.feeds;
                }
            }
        });

        $(document).ready(function() {
            vm.loadFeed();
        });

        $(window).scroll(function () {
            if(vm.loading == false) {
                if ($(window).height() + $(window).scrollTop() + 100 >= $(document).height()) {
                    vm.loadFeed();
                }
            }
        });
    </script>
{% endblock scripts %}