{% extends "./layout/client_base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}
	<div class="row">

		<div class="col-md-12 col-sm-12 col-xs-12">		

            <div class="text-center" style="padding: 20px; margin-bottom: 20px; background-color: #fff;">
                <h3 style="margin-top: 10px;">Welcome to <b>UBP: Pub</b></h3>
                <hr/>
                <h4>See stories from co-workers here in your Actions Feed.<br/>
                    <small>Start by connecting with your co-workers on Pub</small>
                </h4>
            </div>
                

            {% raw %}
            <div id="app">

                <div class="row">
                    <div class="col-md-6" style="padding: 0 15px 10px 10px; position: absolute; right: 0;">
                        <div style="background-color: #fff; height: 140px;"></div>
                    </div>
                </div>

                <div v-for="feed in sorted_feeds">
                    <div class="row">
                        <!-- This is the first column -->
                        <div class="col-md-6" style="padding: 0 10px 20px 0;">
                            <div style="background-color: #fff; height: 320px;">
                                
                                <template v-if="feed.type === 'new_group'">
                                    <div style="height: 150px; max-width: 100%; overflow: hidden;">
                                        <img :src="'/static/uploads/covers/600x250/' + feed.cover_photo">
                                    </div>
                                    <div style="width: 100%; position: absolute; top: 65px; padding-right: 10px;" class="text-center">
                                        <a :href="'/groups/' + feed.id" :title="'View ' + feed.name" style="text-decoration: none;">
                                            <img :src="'/static/uploads/group_icons/130x130/' + feed.group_icon" style="border: 5px solid #fff; height: 130px; width: 130px;" class="img-circle">
                                        </a>
                                    </div>
                                    <div class="text-center" style="padding: 45px 20px 5px;">
                                        <a :href="'/groups/' + feed.id" :title="'View ' + feed.name" style="text-decoration: none; color: #333;">
                                            <h4 class="title"><b>{{ feed.name }}</b></h4>
                                        </a>
                                        <h4 v-if="feed.about" class="title"><small>{{ feed.about }}</small></h4>
                                        <h4 v-else class="title"><small><i>Group has no description</i></small></h4>
                                        <hr style="margin: 7px; border-top: 1px solid #c0c0c0;" />
                                        <a :href="'/groups/' + feed.id" :title="'View ' + feed.name" style="text-decoration: none;">
                                            <span style="font-size: 13px; color: #564C89;"><b>Check this awesome new group!</b><span>
                                        </a>
                                        <span style="background-color: #fff; position: absolute; right: 20px; top: 10px; padding: 0 10px;"><h6><small>{{feed.timestamp}}</small></h6></span>
                                    </div>
                                </template>
                                <template v-else-if="feed.type === 'new_activity'">
                                    <div style="height: 170px; max-width: 100%; overflow: hidden;">
                                        <img :src="'/static/uploads/activity_images/600x250/' + feed.activity_image">
                                    </div>
                                    <div style="padding: 10px 20px 10px;" class="text-center">
                                        <a :href="'/activities/' + feed.activity_id" :title="'View ' + feed.activity_title" style="text-decoration: none; color: #333;">
                                            <h4 class="title" style="margin-top: 0;"><b>{{ feed.activity_title }}</b></h4>
                                        </a>
                                        <h5>
                                            <span class="row">
                                                <span class="col-md-5" style="padding-top: 10px;">Activity created by  &nbsp;</span>
                                                <span class="col-md-2">
                                                    <a :href="'/profile/' + feed.creator_id" style="text-decoration: none;" :title="feed.firstname + ' ' + feed.lastname">
                                                        <img v-if="feed.user_image" :src="'/static/uploads/profile_pictures/' + feed.user_image" style="width: 40px; height: 40px; border-radius: 50%;"> &nbsp;
                                                        <img v-else :src="'/static/images/pub-default-img.jpg'" style="width: 40px; height: 40px; border-radius: 50%;"  :title="feed.firstname + ' ' + feed.lastname"> &nbsp;
                                                    </a>
                                                </span>
                                                <span class="col-md-5" style="overflow: hidden; padding-top: 10px;">
                                                        <a :href="'/profile/' + feed.creator_id" class="title" style="text-decoration: none; color: #333;" :title="feed.firstname + ' ' + feed.lastname"> &nbsp;
                                                            {{ feed.firstname }} {{ feed.lastname }}
                                                        </a>
                                                </span>
                                            </span>
                                        </h5>
                                        <hr style="margin: 7px; border-top: 1px solid #c0c0c0;" />
                                        <a :href="'/activities/' + feed.activity_id" :title="'View ' + feed.activity_title" style="text-decoration: none;">
                                            <span style="font-size: 13px; color: #564C89;"><b>Check this cool activity!</b><span>
                                        </a>
                                    </div>
                                    <span style="background-color: #fff; position: absolute; right: 20px; top: 10px; padding: 0 10px;"><h6><small>{{feed.timestamp}}</small></h6></span>
                                </template>
                                <template v-else-if="feed.type === 'new_perk'">
                                    <div class="row zoomify perks-inner-card" data-toggle="modal" :data-target="'#perks-' + feed.id">
                                        <div class="col-md-5 no-padding perks-col-1">
                                            <img :src="'../../static/uploads/perks_images/164x200/' + feed.image"/>
                                        </div>
                                        <div class="col-md-7 perks-col-2">
                                            <h4 class="title"><strong>{{ feed.title }}</strong></h4>
                                            <div class="perks-desc">
                                                <p><small><i>Click for description</i></small></p>
                                            </div>
                                            <h5 class="title" class="perks-timestamp"><small>{{ feed.timestamp }}</small></h5>
                                        </div>
                                    </div>
                                    <!-- PERKS MODAL -->
                                    <div class="modal fade grp-modal" :id="'perks-' + feed.id" role="dialog">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <!-- HEADER -->
                                                <div class="modal-header">
                                                    <span><b>PERKS</b></span>
                                                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                                                </div>
                                                <!-- BODY -->
                                                <div class="modal-body">

                                                    <div class="row">
                                                        <div class="col-md-5 no-padding perks-modal-body">
                                                            <img :src="'../../static/uploads/perks_images/375x240/' + feed.image"/>
                                                        </div>
                                                        <div class="col-md-7 perks-modal-content">
                                                            <h4 class="title"><strong>{{ feed.title }}</strong></h4>
                                                            <h5 class="title"><small>{{ feed.timestamp }}</small></h5>
                                                            <br/>
                                                            <div class="perks-modal-desc">
                                                                <div v-html="feed.description"></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <!-- FOOTER -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-style-4" data-dismiss="modal">Close</button>
                                                </div> <!-- END OF FOOTER -->

                                            </div>
                                        </div>
                                    </div> <!-- END OF PERKS MODAL -->
                                </template>
                                <!--
                                <template v-if="feed.type === 'new_membership'">
                                    new  membership
                                </template>
                                <template v-if="feed.type === 'new_user_activity'">
                                    {{ feed.name }}
                                </template> -->
                            </div>
                        </div>

                        <!-- This is the second column -->
                        <div class="col-md-6" style="padding: 0 0 10px 10px; top: 160px;">
                            <div style="background-color: #fff; height: 320px;"></div>
                        </div>
                    </div>
                    
                </div>           
            </div>     
            {% endraw %}

		</div>

	</div>

{% endblock content %}
{% block scripts %}
    <script>

        var vm = new Vue({
            el: '#app',
            data: {
                profile_images_folder: '/static/uploads/profile_pictures/',
                group_modal_icons_folder: '/static/uploads/group_icons/200x200/',
                feeds: [],
                default_user_img: '/static/images/pub-default-img.jpg'
            },
            methods: {
                loadFeed: function() {
                    $.ajax({
                        url: "{{ url_for('api.feed') }}",
                        type: 'GET'
                    }).done(data => {
                        console.log(data);

                        // Add 'type' on each feed item
                        data.new_activities.forEach((el) => el.type = 'new_activity');
                        data.new_perks.forEach((el) => el.type = 'new_perk');
                        data.new_groups.forEach((el) => el.type = 'new_group');
                        data.new_memberships.forEach((el) => el.type = 'new_membership');
                        data.new_user_activities.forEach((el) => el.type = 'new_user_activity');

                        this.feeds.push.apply(this.feeds, data.new_activities);
                        this.feeds.push.apply(this.feeds, data.new_perks);
                        this.feeds.push.apply(this.feeds, data.new_groups);
                        this.feeds.push.apply(this.feeds, data.new_memberships);
                        this.feeds.push.apply(this.feeds, data.new_user_activities);
                    });
                },
            },
            computed: {
                sorted_feeds: function() {
                    this.feeds.sort( (a, b) => {
                        return new Date(b.timestamp) - new Date(a.timestamp);
                    });

                    return this.feeds;
                }
            }
        });

        $(document).ready(function() {
            vm.loadFeed();
        })
    </script>
{% endblock scripts %}
