{% extends "layout/admin_base.html" %}
{% from 'components/admin-activity-card.html' import activity_card %}
{% from 'components/admin-user-card.html' import user_card %}
{% from 'components/admin-group-card.html' import group_card %}
{% block title %} Admin Page {% endblock %}

{% block content %}
<div class="row admin-page">
    <div class="row">
        <div class="col-md-12">
            <h1>Dashboard</h1>
            <hr />
        </div>
    </div>
    <div class="col-md-12">
        
        <!-- Upcoming Activites -->
        <h3>Upcoming Activities</h3>
        <div class="row">
            {% for activity in upcoming_activities %}
                {{ activity_card(activity) }}
            {% endfor %}
            <div class="col-md-12 no-padding">
                <a href="{{ url_for('admin.activities') }}" class="btn btn-xs btn-style-3 pull-right">See All Activities</a>
            </div>
        </div> <!-- End of Upcoming Activities -->

        <!-- New users -->
        <h3>New Users</h3>
        <div class="row">
            {% for user in new_users %}
                {{ user_card(user) }}
            {% endfor %}
            <div class="col-md-12 no-padding">
                <a href="{{ url_for('admin.users') }}" class="btn btn-xs btn-style-3 pull-right">See All Users</a>
            </div>
        </div> <!-- End of New Users -->


        <!-- New Groups -->
        <h3>New Groups</h3>
        <div class="row">
            {% for group in new_groups %}
                {{ group_card(group) }}
            {% endfor %}
            <div class="col-md-12 no-padding">
                <a href="{{ url_for('admin.groups') }}" class="btn btn-xs btn-style-3 pull-right" style="margin-top: 10px;">See All Groups</a>
            </div>
        </div>

    </div>
</div>
{% endblock %}