{% extends "./layout/client_base.html" %}

{% block title %} {{ group["name"] }} {% endblock %}

{% block content %}
    <div class="row admin-page" style="background-color: white">
        <div class="row">
            <div class="cover-photo">
                <img src="{{ url_for('static', filename='uploads/covers/' + group.cover_photo) }}" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 group-icon text-center">
                <img src="{{ url_for('static', filename='uploads/group_icons/' + group.group_icon) }}" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h1>{{ group["name"] }}</h1>
                <h5><i>{{ group["about"] }}</i></h5>
                    <a class="btn btn-sm btn-style-1" href="{{url_for('client.update_group', id=group.id)}}">
                        Edit this Group
                    </a>
                <br /><br /><br />
            </div>
            <div class="col-md-6 text-right group-controls">
                    <a href="/groups/manage" class="btn btn-sm btn-style-4" style="transition: 0s;">
                        Back
                    </a>
                    <a href="{{ url_for('client.group_requests', id=group.id) }}" class="btn btn-sm btn-style-3">
                        Requests
                    </a>
                <a href="{{ url_for('client.group_members', id=group.id) }}" class="btn btn-sm btn-style-3">
                    Members
                </a>
            </div>
        </div>

        <div class="row">
            
            <div class="col-md-12">
                <h2>Group Activities</h2>
            </div>

            {% for activity in activities %}
                <div class="col-md-3 no-padding">
                    <div class="activity-card"
                    style="height: 180px; background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{url_for('static',filename='uploads/activity_images/' + activity.image) }})">
                        <div style="padding: 30px 10px;">
                            <h3 style="color: #fff;"><strong>{{ activity['title'] }}</strong></h3>
                            <!-- <h6>{{ activity['description'] }}</h6> -->
                            <h6 style="color: lightgray;"><i>{{ activity['start_date']}} - {{ activity['end_date']}}</i></h6>
                        </div>
                        <a class="btn btn-block btn-style-3" href="{{ url_for('client.edit_activity', id=activity['id']) }}">
                            Edit Activity
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}