{% extends "./layout/client_base.html" %}

{% block title %} Interest Groups {% endblock title %}

{% block content %}

    <div class="row">

        <div class="col-md-12">
            <div class="group-box">

                <h3>INTEREST GROUPS
                    {% if is_manager %}
                    <span class="pull-right">
                        <a href="/groups/create" class="group-create-btn">
                            <button class="btn btn-style-2 btn-sm" title="Create Perks">CREATE GROUP &nbsp;<i class="fa fa-plus"></i></button>
                        </a>
                    </span>
                    {% endif %}
                </h3>
                <hr/>

                {% raw %}
                <div id="app" class="row">

                    <template v-if="groups.length > 0">
                    
                        <div v-for="group in groups" id="group_list">

                            <!-- GROUP CARD -->
                            <div class="col-md-3 col-sm-6 group-card" v-on:click="loadGroupInfo(group)" :id="group.id">
                                <div class="zoomify group-panel grp-icon" data-toggle="modal" :data-target="'#group-' + group.id">
                                    <div class="group-img">
                                        <img :src="group_card_covers_folder + group.cover_photo" class="group-card-img">
                                        <img class="img-icon group-card-icon" :src="group_card_icons_folder + group.group_icon" width="120px" height="120px">
                                    </div>
                                    <div class="group-desc">
                                        <h4 class="title">{{ group.name }}</h4>
                                        <p><i class="fa fa-user"></i> {{ group.population }}</p>
                                    </div>
                                </div>
                            </div> <!-- END OF GROUP CARD -->

                            <!-- GROUP MODAL -->
                            <div class="modal fade grp-modal" :id="'group-' + group.id" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- HEADER -->
                                        <div class="modal-header">
                                            <span><b>INTEREST GROUP</b></span>
                                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                                        </div>
                                        <!-- BODY -->
                                        <div class="modal-body">

                                            <div class="img-container text-center" :style="group.cover">
                                                <img :src="group_modal_covers_folder + group.cover_photo" class="group-modal-img">
                                                <img class="grp-icon-img group-modal-icon" :src="group_modal_icons_folder + group.group_icon">
                                            </div>

                                            <span class="row">
                                                <span class="col-md-2 col-lg-2 col-sm-2 hidden-xs left-pad"><h2 class="text-center"></h2></span>
                                                <span class="col-md-8 col-lg-8 col-sm-8"><a :href="'/groups/' + group.id" style="text-decoration: none; color: #3a3a3a;" :title="'Visit ' + group.name + ' page'"><h2 class="text-center">{{ group.name }}</h2></a></span>
                                                <span class="col-md-2 col-lg-2 col-sm-2 text-center right-pad">
                                                        <a v-show="(group.isLeader || is_manager)" :href="'/groups/' + group.id" class="btn btn-style-3 manage-group-link" title="Manage Group"><i class="fa fa-gear"></i></a>
                                                </span>
                                            </span>

                                            <div class="content">
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li role="presentation" class="active grp-li">
                                                        <a :href="'#grp-desc-' + group.id" role="tab" data-toggle="tab">Description</a>
                                                    </li>
                                                    <li role="presentation" class="grp-li">
                                                        <a :href="'#grp-members-' + group.id" role="tab" data-toggle="tab">Members</a>
                                                    </li>
                                                    <li role="presentation" class="grp-li">
                                                        <a :href="'#grp-activities-' + group.id" role="tab" data-toggle="tab">Activities</a>
                                                    </li>
                                                </ul>

                                                <div class="tab-content">

                                                    <div role="tabpanel" class="tab-pane active" :id="'grp-desc-' + group.id">
                                                        <p v-if="group.about">{{ group.about }}</p>
                                                        <p v-else><i><small>Groups has no description.</small></i></p>
                                                    </div>

                                                    <div role="tabpanel" class="tab-pane" :id="'grp-members-' + group.id">
                                                        <div class="row group-members-tab">
                                                            <h5><strong>Leaders</strong></h5>
                                                            <template v-if="group.leaders.length > 0">
                                                                <div v-for="leader in group.leaders" class="col-md-6 mini-container">
                                                                    <a :href="'/profile/' + leader.id">
                                                                        <div>
                                                                            <img v-if="leader.image" class="img-circle" width="30px" height="30px" :src="user_images_folder+leader.image">
                                                                            <img v-else :src="'../../../static/images/pub-default-img.jpg'" width="30px" height="30px" class="img-circle">
                                                                            <span>{{ leader.firstname }} {{leader.lastname}}</span>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </template>
                                                            <template v-else>
                                                                <div class="no-members-tab">
                                                                    <i><small>This group has no leaders.</small></i>
                                                                </div>
                                                            </template>
                                                        </div>
                                                        <div class="row group-members-panel">
                                                            <h5><strong>Members</strong></h5>
                                                            <template v-if="group.members.length > 0">
                                                                <div v-for="member in group.members" class="col-md-6 mini-container">
                                                                    <a :href="'/profile/' + member.id">
                                                                        <div>
                                                                            <img v-if="member.image" class="img-circle" width="30px" height="30px" :src="user_images_folder+member.image">
                                                                            <img v-else :src="'../../../static/images/pub-default-img.jpg'" width="30px" height="30px" class="img-circle">
                                                                            <span>{{ member.firstname }} {{member.lastname}}</span>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </template>
                                                            <template v-else>
                                                                <div class="no-members-tab">
                                                                    <i><small>This group has no members.</small></i>
                                                                </div>
                                                            </template>
                                                        </div>
                                                    </div>

                                                    <div role="tabpanel" class="tab-pane" :id="'grp-activities-' + group.id">
                                                        <h5><strong>Group's upcoming Activities</strong><a class="btn btn-xs btn-style-3 pull-right" :href="'/groups/' + group.id" title="View all activities">View all</a></h5>
                                                        <template v-if="group.activities.length > 0">
    
                                                            <div v-for="activity in group.activities">

                                                                <!-- ACTIVITY CARD  -->
                                                                <a :href="'/activities/' + activity.id" :title="activity.title">
                                                                    <div class="col-md-3 col-lg-4 col-sm-6 card-container">
                                                                        <div class="group-activity-card">
                                                                            <div class="group-activity-inner-con">
                                                                                <template v-if="activity.status === '2'">
                                                                                    <img :src="activity_card_images_folder + activity.image" class="img-responsive activity-filter-marker"/>
                                                                                    <span class="activity-marker-icon">
                                                                                            <i class="fa fa-check-circle-o" title="ACTIVITY DONE"></i>
                                                                                    </span>
                                                                                </template>
                                                                                <template v-else>
                                                                                    <img :src="activity_card_images_folder + activity.image" class="img-responsive not-done-activity"/>
                                                                                </template>
                                                                            </div>
                                                                            <div class="group-activity-title">
                                                                                <h5 class="text-center title">{{ activity.title }}</h5>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                                <!-- END OF ACTIVITY CARD -->

                                                            </div> <!-- end of activity listing -->
                                                            
                                                        </template>
                                                        <template v-else>
                                                            <p>
                                                                <i><small>Group has no upcoming activities.</small></i>
                                                            </p>
                                                        </template>
                                                    </div>

                                                </div> <!-- end of tab content -->

                                            </div>

                                        </div>

                                        <!-- FOOTER -->
                                        <div class="modal-footer">
                                            <template v-if="group.membership_status == 'accepted'">
                                                <button type="button" class="btn btn-danger grp-btn" value="leave" v-on:click="toggleGroupMembership(group)">LEAVE GROUP</button>
                                            </template>
                                            <template v-else-if="group.membership_status == 'pending'">
                                                <button type="button" class="btn btn-warning grp-btn" value="cancel" v-on:click="toggleGroupMembership(group)">CANCEL JOIN REQUEST</button>
                                            </template>
                                            <template v-else>
                                                <button type="button" class="btn btn-style-1 grp-btn" value="join" v-on:click="toggleGroupMembership(group)">JOIN GROUP</button>
                                            </template>
                                        </div> <!-- END OF FOOTER -->

                                    </div>
                                </div>
                            </div> <!-- END OF GROUP MODAL -->

                        </div> <!-- end of group-listing -->

                        <div class="show-more-box col-md-12">
                            <button v-show="hasNext" class="btn btn-style-3" v-on:click="loadGroups">Show More</button>
                        </div> <!-- end of show more div -->

                    </template>

                    <template v-else>
                        <div class="col-md-12 no-content-box text-center">
                            <h2><small>NO INTEREST GROUPS</small></h2>
                        </div>
                    </template>

                </div> <!-- end of app -->

                {% endraw %}
                
            </div>
        </div>

    </div>

{% endblock content %}

{% block scripts %}
<script>
        var vm = new Vue({
          el: '#app',
          data: {
            groups: [],
            groups_page: 1,
            hasNext: false,
            is_manager: false,
            group_modal_icons_folder: '/static/uploads/group_icons/200x200/',
            group_modal_covers_folder: '/static/uploads/covers/600x250/',
            activity_modal_images_folder: '/static/uploads/activity_images/600x250/',
            group_card_icons_folder: '/static/uploads/group_icons/130x130/',
            group_card_covers_folder: '/static/uploads/covers/200x170/',
            activity_card_images_folder: '/static/uploads/activity_images/260x200/',
            user_images_folder: '/static/uploads/profile_pictures/',
            default_img: "background-image: url('/static/images/pub-default-img.jpg');"
          },
          methods: {
            loadGroups: function() {
                $.ajax({
                    url: "{{ url_for('api.get_groups') }}" + "?page=" + this.groups_page,
                    type: 'GET'
                }).done(data => {
                    // console.log(data);
                    data.interest_groups.forEach((group) => {
                        group.members = [];
                        group.leaders = [];
                        //group.managers = [];
                        group.activities = [];
                        group.membership_status = -1;
                        group.population = 0;
                        vm.groupPopulation(group);
                        group.isLeader = false;
                    });
                    this.groups.push.apply(this.groups, data.interest_groups);
                    this.groups_page++;
                    this.hasNext = data.has_next;
                });
            },
            groupPopulation: function(group) {

                // load group members
                $.ajax({
                    url: "/api/v1.0/interest_groups/" + group.id + "/population",
                    type: 'GET'
                }).done(data => {
                    group.population = data.total;
                });

            },
            loadGroupInfo: function(group) {

                // load group members
                $.ajax({
                    url: "/api/v1.0/groups/" + group.id + "/members",
                    type: 'GET'
                }).done(data => {
                    group.members = data.members;
                    group.leaders = data.leaders;
                    for(var i = 0; i < data.leaders.length; i++) {
                        if (data.leaders[i].id == '{{current_user.get_id()}}') {
                            group.isLeader = true;
                            break;
                        }
                    }
                });

                // load Activities
                $.ajax({
                    url: '/api/v1.0/groups/' + group.id +'/activities?show=upcoming',
                    type: 'GET'
                }).done(data => {
                    console.log(data.activities);
                    group.activities = data.activities;
                });

                // check membership status
                $.ajax({
                    url: "/api/v1.0/interest_groups/" + group.id + "/join/status",
                    type: 'GET'
                }).done(data => {
                    group.membership_status = data.membership_status;
                });
            },
            toggleGroupMembership: function(group) {
                if (group.membership_status == "pending" || group.membership_status == "accepted") {
                    $.ajax({
                        url: "/api/v1.0/interest_groups/" + group.id + "/leave",
                        type: 'DELETE'
                    }).done(data => {
                        group.membership_status = "";
                    });
                } else {
                    $.ajax({
                        url: "/api/v1.0/interest_groups/" + group.id + "/join",
                        type: 'POST'
                    }).done(data => {
                        group.membership_status = "pending";
                    });
                }
            }
          }
        });

        $(document).ready(function() {
            vm.loadGroups();
            vm.is_manager = "{{ is_manager }}" == "True" ? true : false;
        });

    </script> 
{% endblock scripts %}