{% extends "./layout/client_base.html" %}
{% from 'components/group-members-table.html' import members_table, members_table_script %}
{% from 'components/group-header.html' import group_header %}
{% block title %} {{ group["name"] }} {% endblock %}

{% block content %}
    <div class="row admin-page" style="background-color: white; margin: 0 10px;">
        {{ group_header(group, current_user) }}
        {{ members_table(group, current_user) }}
    </div>
{% endblock %}
{% block scripts %}
        {{ members_table_script(group) }}
{% endblock scripts %}