{% extends "./layout/client_base.html" %}
{% from 'components/group-header.html' import group_header %}
{% from 'components/group-requests-table.html' import group_requests_table, group_requests_table_script %}
{% block title %} {{ group["name"] }} {% endblock %}

{% block content %}
    <div class="row admin-page" style="background-color: white">
        {{ group_header(group, current_user) }}
        {{ group_requests_table() }}
    </div>
{% endblock %}
{% block scripts %}
    {{ group_requests_table_script(group) }}
{% endblock scripts %}