<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>PUB | {% block title %} Administrator {% endblock title %}</title>

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/temp-admin.css') }}">

</head>

<body>


    {%  set user_links = [
            ('Create User', url_for('admin.create_user')),
            ('View users', url_for('admin.users'))
        ]
    %}

    {%  set activity_links = [
            ('Create Activity', url_for('admin.create_activity')),
            ('View Activities', url_for('admin.activities'))
        ]
    %}

    {% set group_links = [
            ('Create Group', url_for('admin.create_group')),
            ('View Groups', url_for('admin.groups'))
        ]
    %}



    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            {{ message }}
            <button type="button" class="close pull-right" data-dismiss="alert">&times;</button>
        </div>
    {% endfor %}

    {% for link in links %}
        <h3>{{ link[0] }}</h3>
    {% endfor %}
    
    <div class="row">
        <div class="col-md-2 side-bar" id="admin-sidebar">

            <img class="pub-logo" src="{{ url_for('static', filename='images/pub-sm-logo.png')}}" />

            <h3>Administrator</h3>

            {% if request.path == url_for('admin.index') %}
                <a class="btb btn-sidebar active" href={{url_for('admin.index')}}>Dashboard</a>
            {% else %}
                <a class="btb btn-sidebar" href={{url_for('admin.index')}}>Dashboard</a>
            {% endif %}

            <h5>Users</h5>
            {% for link in user_links %}
                {% if request.path == link[1] %}
                    <a class="btb btn-sidebar active" href={{link[1]}}>{{ link[0] }}</a>
                {% else %}
                    <a class="btb btn-sidebar" href={{link[1]}}>{{ link[0] }}</a>
                {% endif %}
            {% endfor %}


            <h5>Activities</h5>
            {% for link in activity_links %}
                {% if request.path == link[1] %}
                    <a class="btb btn-sidebar active" href={{link[1]}}>{{ link[0] }}</a>
                {% else %}
                    <a class="btb btn-sidebar" href={{link[1]}}>{{ link[0] }}</a>
                {% endif %}
            {% endfor %}


            <h5>Groups</h5>
            {% for link in group_links %}
                {% if request.path == link[1] %}
                    <a class="btb btn-sidebar active" href={{link[1]}}>{{ link[0] }}</a>
                {% else %}
                    <a class="btb btn-sidebar" href={{link[1]}}>{{ link[0] }}</a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-10" style="padding: 0px">
            <div class="row admin-header">
                <a href="{{ url_for('client.logout') }}" class="btn link pull-right">Sign out</a>
            </div>
            {% block content %}
            {% endblock content %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script>
        $(document).ready(function() {
            console.log($(document).height());
            $("#admin-sidebar").height($(document).height());
        })
    </script>

    {% block scripts %}
    {% endblock scripts %}

</body>

</html>