<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>PUB | {% block title %}{% endblock title %}</title>

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.min.css') }}">

</head>

<body>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            {{ message }}
            <button type="button" class="close pull-right" data-dismiss="alert">&times;</button>
        </div>
    {% endfor %}
    
    {% block navigation %}
    {% endblock navigation %}

    {% block content %}
    {% endblock content %}

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    {% block scripts %}
    {% endblock scripts %}

</body>

</html>