<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>PUB | {% block title %}{% endblock title %}</title>

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.min.css') }}">

</head>

<body>
    
    {% block sidebar %}

        <div class="sidebar">

            <div>
                <a href="/"><img src="{{ url_for('static', filename='../../static/images/ubp-logo.jpg') }}" alt="UBP LOGO"></a>
            </div>

            <div class="project-bg">
                <div class="white-filter">
                    <div class="project-logo">
                        <a href="/"><img src="{{ url_for('static', filename='../../static/images/pub-sm-logo.png') }}" alt="PUB LOGO"></a>
                    </div>
                </div>
            </div>

            <div class="navbar" role="navigation" id="navigation">
                <ul class="nav side-nav">
                    <li><a href="/" class="nav-link active">Home <i class="fa fa-home pull-right" style="margin-top: 3px;"></i></a></li><!-- <li><a href="/" style="color: #fff; background-color: #0e0058; border-left: 7px solid #ff8b00;">Home</a></li> -->
                    <li><a href="/activities" class="nav-link">Activities <i class="fa fa-rocket pull-right" style="margin-top: 3px;"></i></a></li>
                    <li><a href="/groups" class="nav-link">Interest Groups <i class="fa fa-group pull-right" style="margin-top: 3px;"></i></a></li>
                    <li><a href="/notifications" class="nav-link">Notifications <i class="fa fa-bell pull-right" style="margin-top: 3px;"></i></a></li>
                    <li><a href="/logout" id="sign-out">Log Out <i class="fa fa-sign-out pull-right" style="margin-top: 3px;"></i></a></li>
                </ul>
            </div>

        </div>

    {% endblock sidebar %}

    <div class="main">

        <div style="height: 50px; width: 100%; background-image: url('{{ url_for('static', filename='../../static/images/header.jpg') }}');"></div>

        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>

    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
        /*$(document).ready(function() {

            $('.nav-link').click(function(this){

                event.preventDefault();            
            });
            
        });*/
    </script>

    {% block scripts %}
    {% endblock scripts %}

</body>

</html>