<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>PUB | {% block title %}{% endblock title %}</title>

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.min.css') }}">

</head>

<body>
    
    {% block sidebar %}
    
        <div class="sidebar">

            <div>
                <a href="/"><img src="{{ url_for('static', filename='../../static/images/ubp-logo.jpg') }}" alt="UBP LOGO" class="side-ubp-logo"></a>
            </div>

            <div class="project-bg">
                <div class="white-filter">
                    <a href="/"><img src="{{ url_for('static', filename='../../static/images/pub-sm-logo.png') }}" alt="PUB LOGO" class="img-responsive project-logo"></a>
                </div>
            </div>

            <div class="navbar" role="navigation" id="navigation">
                <ul class="nav side-nav">
                    <li><a href="/" class="nav-link active">Home <i class="fa fa-home pull-right"></i></a></li>
                    <li><a href="/activities" class="nav-link">Activities <i class="fa fa-rocket pull-right"></i></a></li>
                    <li><a href="/groups" class="nav-link">Interest Groups <i class="fa fa-group pull-right"></i></a></li>
                    <li><a href="/notifications" class="nav-link">Notifications <i class="fa fa-bell pull-right"></i></a></li>
                    <li><hr/></li>
                    <li><a href="/settings" class="nav-link">Settings <i class="fa fa-gear pull-right"></i></a></li>
                    <li><a href="#" id="sign-out" data-toggle="modal" data-target="#logout-modal">Log Out <i class="fa fa-sign-out pull-right"></i></a></li>
                </ul>
            </div>

        </div>

    {% endblock sidebar %}

    <div class="main">

        <div class="pub-header">
        </div>

        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>

    </div>

    <!-- Log out modal -->
    <div class="modal fade" id="logout-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">UBP : Pub</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">Are you sure you want to log out?</p>
                </div>
                <div class="modal-footer">
                    <div class="pull-left text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="pull-right text-center">
                        <a href="/logout"><button type="button" class="btn btn-style-1">Log out</button></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- ./Log out modal -->

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% block scripts %}
    {% endblock scripts %}

</body>

</html>