{% if request.path == url_for("admin.create_interest_group") %}
    {% extends "/layout/admin_base.html" %}
{% else %}
    {% extends "/layout/base.html" %}
{% endif %}
{% block title %}Admin Page{% endblock %}

{% block content %}
    <div class="row">
        <form class="form-group col-md-12" method="post" name="create_interest_group">
            <h3>Create Interest Group</h3>
            {{ form.hidden_tag() }}

            <div class="col-md-12">
                <label>Group name</label>
                {{ form.name(
                    placeholder="Group name",
                    class="form-control") }}
            </div>
            
            <div class="col-md-12">
                <label>About this Group</label>
                {{ form.about(
                    placeholder="About",
                    class="form-control") }}
            </div>

            <div class="col-md-6">
                <label>Group Cover Photo</label>
                {{ form.cover_photo(
                    placeholder="Cover Photo",
                    class="form-control")}}
            </div>
            
            <div class="col-md-6">
                <label>Group Icon</label>
                {{ form.group_icon(
                    placeholder="Group Icon",
                    class="form-control"
                )}}
            </div>

            <div class="col-md-12">
                {{ form.submit(
                    placeholder="Submit",
                    class="form-control btn-success"
                )}}
            </div>
        </form>
    </div>
{% endblock %}