{% extends "/layout/admin_base.html" %}

{% block content %}
    <div class="row">
        <form class="form-group col-md-12 admin-form" method="post" enctype="multipart/form-data" name="create_interest_group">

            <div class="row">
                <div class="col-md-12">
                    <h1>Create Interest Group</h1>
                    <hr />
                </div>  
            </div>

            
            <div class="row">
                {{ form.hidden_tag() }}
                <div class="col-md-12">
                    <label>Group name</label>
                    {{ form.name(
                        placeholder="Group name",
                        class="form-control",
                        required="true") }}
                </div>
                
                <div class="col-md-12">
                    <label>About this Group</label>
                    {{ form.about(
                        placeholder="About",
                        class="form-control",
                        required="true") }}
                </div>

                <div class="col-md-6">
                    <label>Group Cover Photo</label>
                    {{ form.cover_photo(
                        placeholder="Cover Photo",
                        class="form-control",
                        required="true")}}
                </div>
                
                <div class="col-md-6">
                    <label>Group Icon</label>
                    {{ form.group_icon(
                        placeholder="Group Icon",
                        class="form-control",
                        required="true"
                    )}}
                </div>

                <div class="col-md-12">
                    <input class="btn btn-default" type="reset">
                    {{ form.submit(
                        placeholder="Submit",
                        class="btn btn-style-1"
                    )}}
                </div>
            </div>
        </form>
    </div>
{% endblock %}