{% if 'admin' in request.path %}
    {% extends "/layout/admin_base.html" %}
{% else %}
    {% extends "/layout/base.html" %}
{% endif %}

{% block title %} {{ group["name"] }} {% endblock %}

{% block content %}
    <div class="row admin-page">

        <div class="row">
            <div class="col-md-12 no-padding">
                <h1 class="title">Group</h1>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="cover-photo">
                <img src="{{ url_for('static', filename='uploads/covers/' + group.cover_photo) }}" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 group-icon text-center no-padding">
                <img src="{{ url_for('static', filename='uploads/group_icons/' + group.group_icon) }}" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 no-padding">
                <h1>{{ group["name"] }}</h1>
                <h5><i>{{ group["about"] }}</i></h5>
                <a class="btn btn-sm btn-style-1" href="{{url_for('admin.update_group', id=group.id)}}">Edit this Group</a>
                <br /><br /><br />
            </div>
            <div class="col-md-6 text-right group-controls no-padding-right">
                <a href="{{ url_for('admin.group_requests', id=group.id) }}" class="btn btn-sm btn-style-3">
                    Requests
                </a>
                <a href="{{ url_for('admin.group_members', id=group.id) }}" class="btn btn-sm btn-style-3">
                    Members
                </a>
                <!-- 
                <button class="btn btn-sm btn-style-3">
                    Leaders
                </button>
                -->
            </div>
        </div>

        <div class="row">
            
            <div class="col-md-12 no-padding">
                <h2>Group Activities</h2>
            </div>

            {% for activity in activities %}
                <div class="col-md-3 no-padding">
                    <div class="activity-card"
                    style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{url_for('static',filename='uploads/activity_images/' + activity.image) }})">
                        <div>
                            <h3><strong>{{ activity['title'] }}</strong></h3>
                            <!-- <h6>{{ activity['description'] }}</h6> -->
                            <h6><i>{{ activity['start_date']|datetime_with_day}} - {{ activity['end_date']|datetime_with_day}}</i></h6>
                        </div>
                        <a class="btn btn-block btn-style-3" href="{{ url_for('admin.edit_activity', id=activity['id']) }}">
                            Edit Activity
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}