{% extends "/layout/admin_base.html" %}
{% from 'components/group-header.html' import group_header %}
{% block title %} {{ group["name"] }} {% endblock %}

{% block content %}
    <div class="row admin-page">

        <div class="row">
            <div class="col-md-12 no-padding">
                <h3 class="title no-padding">Group</h3>
                <hr />
            </div>
        </div>

        {{ group_header(group, current_user) }}

        <div class="row group-box">
            
            <div class="col-md-12 no-padding">
                <h3>Group Activities</h3>
                <br>
            </div>

            {% if activities|length > 0 %}
                {% for activity in activities %}
                    <div class="col-md-3 no-padding">
                        <div class="activity-card"
                        style="height: 180px; background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{url_for('static',filename='uploads/activity_images/260x200/' + activity.image) }}); background-repeat: no-repeat !important; background-size: cover !important;">
                            <div style="padding: 30px 10px;">
                                <h3 style="color: #fff;"><strong>{{ activity['title'] }}</strong></h3>
                                <!-- <h6>{{ activity['description'] }}</h6> -->
                                <h6 style="color: lightgray;"><i>{{ activity['start_date']}} - {{ activity['end_date']}}</i></h6>
                            </div>
                            <a class="btn btn-block btn-style-3" href="{{ url_for('client.activity', id=activity['id']) }}">
                                View Activity
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <h5>This group has no Acitivities.</h5>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}