{% extends "/layout/admin_base.html" %}
{% from 'components/admin-group-card.html' import group_card %}
{% from 'components/admin-pagination.html' import pagination %}

{% block title %} Groups {% endblock %}

{% block content %}
    <div class="row admin-page">
        <div class="row">
            <div class="col-md-12 no-padding">
                <h1>Groups</h1>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6" style="padding: 20px 0px">
                <form>
                    <div class="input-group search-form">
                      <input type="text" class="form-control" name="query" placeholder="Search Groups" value="{% if query %}{{ query }}{% endif %}">
                      <span class="input-group-btn">
                        <input type="submit" class="btn" type="button" value="Search" />
                      </span>
                    </div>
                    {% if query %}
                        <h4 style="padding-top: 15px;">Search Results for "{{ query }}".
                            <a href="{{ url_for('admin.groups') }}" class="label btn-style-3">Return to List</a>
                        </h4>
                    {% endif %}
                </form>
            </div>
            <div class="col-sm-6 text-right pagination">
                {{ pagination(groups, 'admin.groups') }}
            </div>
        </div>

        <div class="row">
            {% for group in groups.items %}
                {{ group_card(group) }}
            {% endfor %}
        </div>
        {% if groups.items|length == 0 %}
            <div class="row">
                <div class="col-md-12 no-padding">
                    <h3>No Groups found.</h3>
                    <hr />
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-sm-12 text-center pagination">
                {{ pagination(groups, 'admin.groups') }}
            </div>
        </div>
    </div>
{% endblock %}