{% if 'admin' in request.path %}
    {% extends "/layout/admin_base.html" %}
{% else %}
    {% extends "/layout/base.html" %}
{% endif %}

{% block title %} {{ group["name"] }} {% endblock %}

{% block content %}
    <div class="row admin-page">

        <div class="row">
            <div class="cover-photo">
                <img src="{{ url_for('static', filename='uploads/covers/' + group.cover_photo) }}" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 group-icon text-center">
                <img src="{{ url_for('static', filename='uploads/group_icons/' + group.group_icon) }}" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h1>{{ group["name"] }}</h1>
                <h5><i>{{ group["about"] }}</i></h5>
                <a class="btn btn-sm btn-style-1" href="{{url_for('admin.update_group', id=group.id)}}">Edit this Group</a>
                <br /><br /><br />
            </div>
            <div class="col-md-6 text-right group-controls">
                <a href="{{ url_for('admin.group_requests', id=group.id) }}" class="btn btn-sm btn-style-3">
                    Requests
                </a>
                <a href="{{ url_for('admin.group_members', id=group.id) }}" class="btn btn-sm btn-style-3">
                    Members
                </a>
                <!--
                <button class="btn btn-sm btn-style-3">
                    Leaders
                </button>
                -->
            </div>
        </div>

        <div class="row">    
            {% if membership_requests|length > 0 %}
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="font-family: 'Roboto Condensed Bold'">Group Membership Request</h3>
                        <table class="users table row table-hover table-condensed">
                            <tbody>
                                {% for user in membership_requests %}
                                <tr class="user-table-item">
                                    <!-- <td class="ellipsis">{{ user['id'] }}</td> -->
                                    {% if user.image %}
                                        <td><img class="circle-img-sm" src="{{ url_for('static', filename='uploads/profile_pictures/' + user.image) }}" /></td>
                                    {% else %}
                                        <td><img class="circle-img-sm" src="{{ url_for('static', filename='images/pub-default-img.jpg') }}" /></td>
                                    {% endif %}
                                    <td>{{ user['firstname'] }}</td>  
                                    <td>{{ user['middlename'] }}</td>
                                    <td>{{ user['lastname'] }}</td>
                                    <td>{{ user['position'] }}</td>
                                    <td>{{ user['department'] }}</td>
                                    <td class="text-center">
                                        <a href="{{ url_for('admin.profile', id=user.id)}}"><span class="fa fa-pencil-square-o"></span></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                <h4>No membership requests.</h4>
            {% endif %}

                <br /><br />
        </div>
    </div>
{% endblock %}