{% if 'admin' in request.path %}
    {% extends "/layout/admin_base.html" %}
{% else %}
    {% extends "/layout/base.html" %}
{% endif %}

{% block title %} {{ group["name"] }} {% endblock %}

{% block content %}
    <div class="row admin-page">

        <div class="row">
            <div class="cover-photo">
                <img src="{{ url_for('static', filename='uploads/covers/' + group.cover_photo) }}" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 group-icon text-center">
                <img src="{{ url_for('static', filename='uploads/group_icons/' + group.group_icon) }}" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h1>{{ group["name"] }}</h1>
                <h5><i>{{ group["about"] }}</i></h5>
                <a class="btn btn-sm btn-style-1" href="{{url_for('admin.update_group', id=group.id)}}">Edit this Group</a>
                <br /><br /><br />
            </div>
            <div class="col-md-6 text-right group-controls">
                <a href="{{ url_for('admin.group_requests', id=group.id) }}" class="btn btn-sm btn-style-3">
                    Requests
                </a>
                <a href="{{ url_for('admin.group_members', id=group.id) }}" class="btn btn-sm btn-style-3">
                    Members
                </a>
                <!--
                <button class="btn btn-sm btn-style-3">
                    Leaders
                </button>
                -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                {% if 'admin' not in request.path %}
                    <form method="post">
                    {{ form.hidden_tag() }}
                    {% if isMember %} 
                        <input class="btn btn-warning" type="submit" name="leave_group" value="Leave Group">
                    {% else %}
                        <input class="btn btn-primary" type="submit" name="join_group" value="Join Group">
                    {% endif %}
                    </form>
                {% endif %}

    
                {% if membership_requests|length > 0 %}
                    <h4>Membership Requests</h4>
                    {% for request in membership_requests %}
                        <div class="user-card">
                            <a href="{{ url_for('admin.profile', id=request.id) }}">
                                <h4><span class="fa fa-user-circle"></span>
                                    {{ request['firstname'] }} {{ request['lastname'] }}
                                </h4>
                            </a>
                            </a>
                            <a class="btn btn-sm btn-default" href="{{ url_for('admin.decline_request', group_id=group['id'],
                            user_id =request['id'])}}">Decline</a>
                            <a class="btn btn-sm btn-style-1" href="{{ url_for('admin.accept_request', group_id=group['id'],
                            user_id =request['id'])}}">Accept</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <h4>No membership requests.</h4>
                {% endif %}

                <br /><br />
            </div>
        </div>
    </div>
{% endblock %}