{% if 'admin' in request.path %}
    {% extends "/layout/admin_base.html" %}
{% else %}
    {% extends "/layout/base.html" %}
{% endif %}

{% block title %} Admin Page {% endblock %}

{% block content %}
    <form class="row admin-form" method="post" name="change_password">
        <div class="row">
            <div class="col-md-12 no-padding">
                <h1>Change Password</h1>
                <hr />
            </div>
        </div>

        {{ form.hidden_tag() }}

        <div class="row">
            <div class="col-md-4 no-padding-left">
                <label>New Password</label>
                {{ form.password(
                    placeholder="Password",
                    class="form-control",
                    required="true")}}
            </div>
            <div class="col-md-4 no-padding-right">
                <label>Confirm Password</label>
                <input class="form-control" type="password" placeholder="Confirm password" required="true">
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-12 no-padding">
            <input class="btn btn-default" type="reset">
            {{ form.submit(
                class="btn btn-style-1"
            )}}
            </div>
        </div>

    </form>
{% endblock %}