{% if 'admin' in request.path %}
    {% extends "/layout/admin_base.html" %}
{% else %}
    {% extends "/layout/base.html" %}
{% endif %}

{% block title %} Users {% endblock %}

{% block content %}
    <div class="row admin-page user-list">
        <div class="row">
            <div class="col-md-12">
                <h1>Users</h1>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6" style="padding: 20px 15px">
                <form>
                    <div class="input-group search-form">
                      <input type="text" class="form-control" name="query" placeholder="Search Users" value="{{ query }}" required>
                      <span class="input-group-btn">
                        <input type="submit" class="btn" type="button" value="Search" />
                      </span>
                    </div>
                    {% if query %}
                        <h4 style="padding-top: 15px;">Search Results for "{{ query }}".
                            <a href="{{ url_for('admin.users') }}" class="label btn-style-3">Return to List</a>
                        </h4>
                    {% endif %}
                </form>
            </div>
            <div class="col-sm-6 text-right pagination">
                {% if users.has_prev %}
                    <a class="page-link btn btn-sm btn-style-3" href="{{ url_for('admin.users', page=users.prev_num, query=request.args.get('query')) }}">Prev</a>
                {% endif %}
                  {%- for page in users.iter_pages(left_edge=1, left_current=1, right_current=3, right_edge=1) %}
                    {% if page %}
                      {% if page != users.page %}
                        <a class="page-link btn btn-sm btn-style-3" href="{{ url_for('admin.users', page=page, query=request.args.get('query')) }}">{{ page }}</a>
                      {% else %}
                        <strong class="btn btn-sm current-page">{{ page }}</strong>
                      {% endif %}
                    {% else %}
                      <span class=ellipsis>…</span>
                    {% endif %}
                  {%- endfor %}
                {% if users.has_next %}
                    <a class="page-link btn btn-sm btn-style-3" href="{{ url_for('admin.users', page=users.next_num, query=request.args.get('query')) }}">Next</a>
                {% endif %}
            </div>
        </div>

        
        {% if users.items|length > 0 %}
        <div class="row">
            <div class="col-md-12">
                <table class="users table row table-hover table-condensed">
                    <thead>
                        <tr>
                            <!-- <th>ID</th> -->
                            <th></th>
                            <th>Firstname</th>
                            <th>Middlename</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th>Position</th>
                            <th>Department</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for user in users.items %}
                        <tr class="user-table-item">
                            <!-- <td class="ellipsis">{{ user['id'] }}</td> -->
                            {% if user.image %}
                                <td><img class="circle-img-sm" src="{{ url_for('static', filename='uploads/profile_pictures/' + user.image) }}" /></td>
                            {% else %}
                                <td><img class="circle-img-sm" src="{{ url_for('static', filename='images/pub-default-img.jpg') }}" /></td>
                            {% endif %}
                            <td>{{ user['firstname'] }}</td>  
                            <td>{{ user['middlename'] }}</td>
                            <td>{{ user['lastname'] }}</td>
                            <td>{{ user['email'] }}</td>
                            <td>{{ user['position'] }}</td>
                            <td>{{ user['department'] }}</td>
                            <td class="text-center">
                                <a href="{{ url_for('admin.profile', id=user.id)}}"><span class="fa fa-pencil-square-o"></span></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-12">
                <h3>No users found.</h3>
            </div>
        </div>
        {% endif %}

        <hr style="margin: 0px" />

        <div class="row">
            <div class="col-md-12 text-center pagination no-padding">
                {% if users.has_prev %}
                    <a class="page-link btn btn-sm btn-style-3" href="{{ url_for('admin.users', page=users.prev_num, query=request.args.get('query')) }}">Prev</a>
                {% endif %}
                  {%- for page in users.iter_pages(left_edge=1, left_current=1, right_current=3, right_edge=1) %}
                    {% if page %}
                      {% if page != users.page %}
                        <a class="page-link btn btn-sm btn-style-3" href="{{ url_for('admin.users', page=page, query=request.args.get('query')) }}">{{ page }}</a>
                      {% else %}
                        <strong class="btn btn-sm current-page">{{ page }}</strong>
                      {% endif %}
                    {% else %}
                      <span class=ellipsis>…</span>
                    {% endif %}
                  {%- endfor %}
                {% if users.has_next %}
                    <a class="page-link btn btn-sm btn-style-3" href="{{ url_for('admin.users', page=users.next_num, query=request.args.get('query')) }}">Next</a>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}



{% endblock scripts %}