{% if 'admin' in request.path %}
    {% extends "/layout/admin_base.html" %}
{% else %}
    {% extends "/layout/base.html" %}
{% endif %}

{% block title %} Groups {% endblock %}

{% block content %}
    <div class="row">
        <h5>User</h5>
        {% for user in users %}
            <a href="{{ url_for('admin.profile', id=user.id) }}">
                <h4><span class="fa fa-user"></span>
                    {{ user['firstname'] }} {{ user['lastname'] }}
                </h5>
            </a>
        {% endfor %}
    </div>
{% endblock %}